{% extends "SitephysUserBundle::layoutuser.html.twig" %}

{% block title %}
  Courriel de validation du compte de {{ uemail }}
{% endblock %}

{% block menu %}
 {{ parent() }}
{% endblock %}

{% block sitephysuser_section %}
  <h2 style = "color:#FFF; text-align:center; margin:10px;"><span class="italique">Courriel</span></h2>
{% endblock %}

{% block sitephysuser_image %}
  <div class="containerthome">
    <img src="{{ asset('bundles/sitephysphysmvc/images/fond-cosmo.jpg') }}" class="homephoto" alt="Image de l'accueil du compte" />
  </div>
{% endblock %}

{% block sitephysuser_body %}
  <br />Lien de validation de votre compte {{ uemail }} : <br /><br />
  <a href="{{ 'http://www.physics-object.16mb.com/user/authentification/'~uemail~'/'~toklink }}">Validation de votre compte</a>
  <br />
{% endblock %}
