{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Ajout d'élément 
{% endblock %}

{% block sitephysphysmvc_image %}
  <div class="containertedit">
    <img src="{{ asset('bundles/sitephysphysmvc/images/schemaphysmvcelement.png') }}" class="homephoto" alt="Image de Suggestion - Ajout" />
  </div>
{% endblock %}

{% block sitephysphysmvc_section %}
  <h2 style = "color:#FFF; text-align:center; margin:10px;"><i>Suggestion d'ajout d'élément</i></h2>
{% endblock %}

{% block sitephysphysmvc_body %}

  <h3>Ajout d'élément</h3>
  <h3>Domaine : {{ domaintitle }}</h3>
  <h3>Niveau : {{ levelcontent }}</h3>
  <br />
  {{ include("SitephysPhysmvcBundle:Phys:form.html.twig") }}

  <p>
    <a href="{{ path('sitephys_physmvc_edition') }}" class="btn btn-default">
      Accueil de l'édition
    </a>
  </p>

{% endblock %}

{#
{% block javascripts %}
  {% javascripts 'bundles/sitephysphysmvc/js/bootstrap.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}
#}