{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Lecture d'élément simple du thème physique
{% endblock %}

{% block sitephysphysmvc_section %}
  <div id="hw">Elément simple du niveau {{ level.levelBase }} - {{ level.levelSub }} du thème {{ topic.title }} </div>
{% endblock %}

{% block sitephysphysmvc_image %}
  <div id="containerimghome">
    <div class="containerthome">
      <img src="{{ asset('bundles/sitephysphysmvc/images/fond-cosmo.jpg') }}" class="homephoto" alt="Image de élément" title="Elément simple" />
	</div>
  </div>
{% endblock %}

{% block sitephysphysmvc_body %}
  <div class="well">
      <div id="hb">Descriptions de {{ physelt.title }} </div>
      <br />
      <nav id="tabs-nav" class="clearfix">
        <a href="#domaine">Domaine et thème</a><span>&nbsp;</span>
        <a href="#niveau">Niveau</a><span>&nbsp;</span>
        <a href="#contenu">Contenu</a><span>&nbsp;</span>
        <a href="#evaluation">Evaluation</a><span>&nbsp;</span>
        <a href="#symbolisation">Symbolisation</a><span>&nbsp;</span>
        <a href="#reference">Références</a>
        <a href="#author">Création</a>
      </nav>
      <div id="tabs-container" onload="initTab()">
        <article id="domaine">
          <strong>Attributs de l'élément</strong> :
          <br /><br /><strong>Domaine</strong> : {{ domain.title }}
          <br /><strong>Thème</strong> : {{ topic.content }}
          {% set dimtopic = topic.mode - 2 %}
          <br /><strong>Dim. du thème</strong> : {{ dimtopic }} 
          <br /><strong>Mode du thème</strong> : {{ topic.mode }}
        </article>
        <article id="niveau">
          <strong>Niveaux de l'élément</strong> :
          <br /><br /><strong>Niveau de base <i>(global)</i></strong> : {{ level.levelBase }} 
          <br /><strong>Niveau de précision <i>(élément)</i></strong> : {{ level.levelSub }} 
          <br /><strong>Description du niveau</strong> : {{ level.content }} 
        </article>
        <article id="contenu">
          <strong>Contenu de l'élément</strong> :
          <br /><br /><strong>Titre</strong> : <strong>{{ physelt.title }}</strong>
          <br /><strong>Contenu</strong> : {{ physelt.content }}
        </article>
        <article id="evaluation">
          <strong>Evaluation de l'élément</strong> :
          <br /><br /><strong>Evaluation</strong> : {{ physelt.evaluation }} 
        </article>
        <article id="symbolisation">
          <strong>Symbolisations du niveau de l'élément</strong> : <br />
          {% set cptsym = 0 %}
          {% for symcontentx in symcontent %}
            {% set cptsym = cptsym + 1 %}
            <br /><strong>Symbolisation {{ cptsym }}</strong> : {{ symcontentx }} 
          {% endfor %}
        </article>
        <article id="reference">
          <strong>Références du domaine de l'élément</strong> : 
          {% for titlecontrefx in titlecontref %}
             <br /><br /><strong>Référence : {{ titlecontrefx.rtitle }} </strong>
             <br />{{ titlecontrefx.rcontent }} 
          {% endfor %}
           <br /><br /><strong>Lien</strong> : <a href ="{{ physelt.webLinks }}">{{ physelt.webLinks }}</a>
        </article>
        <article id="author"> 
          <strong>Rédaction de l'élément</strong> :
          <br /><br /><strong>Auteur</strong> : {{ physelt.author }} 
          <br /><strong>Date</strong> : {{ physelt.date|date('d/m/Y H:i:s') }}
        </article>
      </div>
  </div>
{% endblock %}
