{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Lecture de l'élément du thème {{ physelt.title }} et du niveau {{ level.levelBase }} - {{ level.levelSub }}
{% endblock %}

{% block sitephysphysmvc_section %}
  <h2 style = "color:#FFF; text-align:center; margin:10px;">Elément simple : {{ physelt.title }} </h2>
{% endblock %}

{% block sitephysphysmvc_image %}
<div class="containerthome">
    <img src="{{ asset('bundles/sitephysphysmvc/images/fond-cosmo.jpg') }}" class="homephoto" alt="Image de élément" title="Elément simple" />
  </div>
{% endblock %}

{% block sitephysphysmvc_body %}
  <div class="well">
      <h2>Descriptions de {{ physelt.title }}</h2>
      <br />
      <nav id="tabs-nav" class="clearfix">
        <a href="#domaine">Domaine et thème</a><span>&nbsp;</span>
        <a href="#niveau">Niveau</a><span>&nbsp;</span>
        <a href="#contenu">Contenu</a><span>&nbsp;</span>
        <a href="#evaluation">Evaluation</a><span>&nbsp;</span>
        <a href="#symbolisation">Symbolisation</a><span>&nbsp;</span>
        <a href="#reference">Références</a>
        <a href="#author">Création</a>
      </nav>
      <div id="tabs-container" onload="initTab()">
        <article id="domaine">
          Domaine : {{ domain.title }}
          <br />Thème : {{ topic.content }}
          <br />Mode du thème : {{ topic.mode }} <br />
        </article>
        <article id="niveau">
          Niveau de base <i>(global)</i> : {{ level.levelBase }} 
          <br />Niveau de précision <i>(élément)</i> : {{ level.levelSub }} 
          <br />Description du niveau : {{ level.content }} <br />
        </article>
        <article id="contenu">
          {{ physelt.content }} <br />
        </article>
        <article id="evaluation">
          Evaluation : {{ physelt.evaluation }} <br />
        </article>
        <article id="symbolisation">
          {% set cptsym = 0 %}
          {% for symcontentx in symcontent %}
            {% set cptsym = cptsym + 1 %}
            Symbolisation {{ cptsym }} : {{ symcontentx }} <br />
          {% endfor %}
        </article>
        <article id="reference">
          {% for titlecontrefx in titlecontref %}
            Référence : {{ titlecontrefx.rtitle }} <br />
            {{ titlecontrefx.rcontent }} <br /><br />
          {% endfor %}
          Lien : {{ physelt.webLinks }}
        </article>
        <article id="author"> 
          Auteur : {{ physelt.author }} <br />
          Date : {{ physelt.date|date('d/m/Y H:i:s') }}
        </article>
      </div>
  </div>
{% endblock %}
