{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Lecture de l'élément du thème {{ physelt.title }} et du niveau {{ physleveltab[0] }} - {{ physleveltab[1] }}
{% endblock %}

{% block sitephysphysmvc_section %}
  <h2 style = "color:#FFF; text-align:center; margin:10px;">Elément simple : {{ physelt.title }} </h2>
{% endblock %}

{% block sitephysphysmvc_image %}
<div class="containerthome">
    <img src="{{ asset('bundles/sitephysphysmvc/images/fond-cosmo.jpg') }}" class="homephoto" alt="Image de élément" />
  </div>
{% endblock %}

{% block sitephysphysmvc_body %}
  <div class="well">
    <section id="descriptions">
      <h2>Descriptions de {{ physelt.title }}</h2>
      <br />
      <nav id="tabs-nav" class="clearfix">
        <a href="#domaine">Domaine et thème</a>
        <a href="#niveau">Niveau</a>
        <a href="#contenu">Contenu</a>
        <a href="#evaluation">Evaluation</a>
        <a href="#symbolisation">Symbolisation</a>
        <a href="#author">Création</a>
      </nav>
      <div id="tabs-container" onload="initTab()">
        <article id="domaine">
          Domaine : {{ domaincontent }}
          <br />Thème : {{ topiccontent }}
          <br />Mode du thème : {{ topicmode }} <br />
        </article>
        <article id="niveau">
          Niveau de base <i>(global)</i> : {{ physleveltab[0] }} 
          <br />Niveau de précision <i>(élément)</i> : {{ physleveltab[1] }} 
          <br />Description du niveau : {{ levelcontent }} <br />
        </article>
        <article id="contenu">
          {{ physelt.content }} <br />
        </article>
        <article id="evaluation">
          Evaluation : {{ physelt.evaluation }} <br />
        </article>
        <article id="symbolisation">
          {% set cptsym = 0 %}
          {% for symcontent in symbolizationcontent %}
            {% set cptsym = cptsym + 1 %}
            Symbolisation {{ cptsym }} : {{ symcontent }} <br />
          {% endfor %}
        </article>
        <article id="author"> 
          Auteur : {{ physelt.author }}, 
          <br />Date : {{ physelt.date|date('d/m/Y H:i:s') }} <br />
        </article>
      </div>
      </section>
  </div>
{% endblock %}
