{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Lecture de l'élément du thème et du niveau simple - {{ parent() }}
{% endblock %}

{% block sitephysphysmvc_section %}
  <h3 style = "color:#a4a1a1; text-align:center;"><i>Elément simple : {{ phystitle }}</i></h3>
{% endblock %}

{% block sitephysphysmvc_image %}
{% endblock %}

{% block sitephysphysmvc_body %}

  <div class="well">
    <section id="descriptions">
      <h2><i class="fa fa-gift"></i> Descriptions</h2>

      <nav id="tabs-nav" class="clearfix">
        <a href="#domaine" class="selected">Domaine et thème</a>
        <a href="#niveau">Niveau</a>
        <a href="#contenu">Contenu</a>
        <a href="#evaluation">Evaluation</a>
        <a href="#symbolisation">Symbolisation</a>
        <a href="#author">Création</a>
      </nav>

      <div id="tabs-container">
        <article id="domaine">
          <h3> {{ phystitle }} </h3>
          <h3>Domaine : {{ domaincontent }}</h3>
          <h3>Thème : {{ topiccontent }}</h3>
        </article>
        <article id="niveau">
          <h3> {{ phystitle }} </h3>
          <h3>Niveau : {{ physlevel }}, soit : </h3>
          <h3>Niveau de base <i>(global)</i> : {{ physleveltab[0] }} </h3>
          <h3>Niveau de précision <i>(élément)</i> : {{ physleveltab[1] }} </h3>
          <h3>Description du niveau : {{ levelcontent }}</h3>
        </article>
        <article id="contenu">
          <h3> {{ physcontent }} </h3>
        </article>
        <article id="evaluation">
          <h3> {{ phystitle }} </h3>
          <h3>Evaluation : {{ physevaluation }} </h3>
        </article>
        <article id="symbolisation">
          <h3> {{ phystitle }} </h3>
          {% set cptsym = 0 %}
          {% for symcontent in symbolizationcontent %}
            {% set cptsym = cptsym + 1 %}
            <h3>Symbolisation {{ cptsym }} : {{ symcontent }} </h3>
          {% endfor %}
        </article>
        <article id="author">
          <h3> {{ phystitle }} </h3>
          <h3>Par {{ physauthor }} , </h3>
          <h3>le {{ physdate|date('d/m/Y') }} </h3>
        </article>
      </div>

      </section>
  </div>

  <p>
    <a href="{{ path('sitephys_physmvc_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'accueil
    </a>
    <a href="{{ path('sitephys_physmvc_topic') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Thèmes et domaines
    </a>
    <a href="{{ path('sitephys_physmvc_symbolization') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Niveaux et symbolisations
    </a>
  </p>

{% endblock %}