{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Evaluations du thème physique
{% endblock %}

{% block sitephysphysmvc_section %}
  <div id="hw">Evaluations du thème {{ toptitle }} </div>
{% endblock %}

{% block sitephysphysmvc_image %}
  <div id="containerimghome">
    <div class="containerthome">
      <img src="{{ asset('bundles/sitephysphysmvc/images/schemaphysmvcglobal.png') }}" class="homephoto" alt="Image de Evaluations du thème" title ="Evaluations du thème" />
	</div>
  </div>
{% endblock %}

{% block sitephysphysmvc_body %}
  <div class="well">
      <div id="hb">Description par niveau des évaluations du thème {{ toptitle }} </div><br />
      <nav id="tabs-nav" class="clearfix">
        {% for intevali in 1..6 %}
          {% for intevalj in 1..6 %}
            {% if (tabbool[intevali][intevalj]) %}
              <a href="{{ "#eval" ~ intevali ~ "-" ~ intevalj }}"> {{ intevali }} - {{ intevalj }} </a><span>&nbsp;</span>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </nav>
      <div id="tabs-container"  onload="initTab()">
        {% for intevalic in 1..6 %}
          {% for intevaljc in 1..6 %}
            {% if (tabbool[intevalic][intevaljc]) %}
              <article id="{{ "eval" ~ intevalic ~ "-" ~ intevaljc }}" >
                <strong>Evaluations et symbolisations de l'élément simple enregistré du niveau {{ intevalic ~ "-" ~ intevaljc }}</strong> :
                <br /><br /><strong>Niveau</strong> : {{ tablevel[intevalic][intevaljc] }} 
                <br /><strong>Evaluation</strong> : {{ tabeval[intevalic][intevaljc] }} 
                <br /><strong>Symbolisation</strong> : {{ tabsym[intevalic][intevaljc] }} 
              </article>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
  </div>
{% endblock %}
