{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Evaluations du thème {{ toptitle }}
{% endblock %}

{% block sitephysphysmvc_section %}
  <h2 style = "color:#FFF; text-align:center; margin:10px;"><i>Evaluations du thème {{ toptitle }}</i></h2>
{% endblock %}

{% block sitephysphysmvc_image %}
  <div class="containertedit">
    <img src="{{ asset('bundles/sitephysphysmvc/images/schemaphysmvcglobal.png') }}" class="homeeditphoto" alt="Image de Evaluations du thème" />
  </div>
{% endblock %}

{% block sitephysphysmvc_body %}
  <div style="float: left; margin-right: 1em;"></div>
  <h2></h2>
  <div class="well">
    <section id="descriptions">
      <h3><i class="fa fa-gift"></i>Description par niveau des évaluations du thème {{ toptitle }}</h3>
      <nav id="tabs-nav" class="clearfix">
      {% set btnclass = "selected" %}
        {% for intevali in 1..6 %}
          {% for intevalj in 1..6 %}
            {% if (tabbool[intevali][intevalj]) %}
              <a href="{{ "#eval" ~ intevali ~ "-" ~ intevalj }}" class = btnclass> {{ intevali }} - {{ intevalj }} </a>
            {% endif %}
            {% set btnclass = "" %}
          {% endfor %}
        {% endfor %}
      </nav>
      <div id="tabs-container"  onload="initTab()">
        {% for intevalic in 1..6 %}
          {% for intevaljc in 1..6 %}
            {% if (tabbool[intevalic][intevaljc]) %}
              <article id="{{ "eval" ~ intevalic ~ "-" ~ intevaljc }}" >
                Niveau : {{ tablevel[intevalic][intevaljc] }}
                <br /> Evaluation : {{ tabeval[intevalic][intevaljc] }}
                <br />Symbolisation : {{ tabsym[intevalic][intevaljc] }} <br />
              </article>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
    </section>
  </div>
{% endblock %}
