<h3>Formulaire de modification de l'élément</h3>

<div class="wellform">

  {{ form_start(formphysupdate, {'attr': {'class': 'form-horizontal'}}) }}
  {{ form_errors(formphysupdate) }}

  <div class="form-group">

  <div>
    <label class="form-control-label">Entrer votre courriel</label>
    <div class="form-control">{{ form_row(formphysupdate.author) }}</div>
    <small class="form-text text-muted">Entrer un courriel valide.</small>
  </div>

    <div>
      {{ form_row(formphysupdate.date) }}
    </div>
    <div class="col-6">
      {{ form_row(formphysupdate.content) }}
    </div>
    <div class="col-6">
      {{ form_row(formphysupdate.evaluation) }}
    </div>
    <label class="custom-file">
      <div class="custom-file-input">
        {{ form_row(formphysupdate.document) }}
        <span class="custom-file-control"></span>
      </div>
    </label>
    {{ form_widget(formphysupdate.save, {'attr': {'class': 'btn btn-primary'}}) }}
    {{ form_end(formphysupdate) }}
  </div>
</div>