{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Lecture d'un élément global du thème physique
{% endblock %}

{% block sitephysphysmvc_section %}
  <div id="hw">
    Lecture de l'élément global du niveau de base {{ intlevel }} du thème {{ topic.title }} 
  </div>
{% endblock %}

{% block sitephysphysmvc_image %}
  <div class="containertglobal">
    {% for jb in [1,2,3,6,5,4] %}
      {% if (tabboolelt[jb]) %}
        <div>
          <a href="{{ path('sitephys_physmvc_phys_element', {'idTopic': idtop, 'intLevel': intlevel, 'intEltLevel': jb}) }}">
            <img align="left" src="{{ asset('bundles/sitephysphysmvc/images/schemaphysmvcsimple' ~ jb ~ '.png') }}" alt="Schéma de l'élément du modèle global" margin: "0" padding: "0" width="33%" height="135px" onmouseover="this.src='{{ '/bundles/sitephysphysmvc/images/schemaphysmvcsimplesombre' ~ jb ~ '.png' }}'" onmouseout="this.src='{{ '/bundles/sitephysphysmvc/images/schemaphysmvcsimple' ~ jb ~ '.png' }}'" />
          </a>
        </div>
      {% else %}
        <div>
          <img align="left" src="{{ asset('bundles/sitephysphysmvc/images/schemaphysmvcsimpleclair' ~ jb ~ '.png') }}" margin: "0" padding: "0" width="33%" height="135px" alt="Schéma élément non enregistré" />
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}

{% block sitephysphysmvc_body %}
  <div class="well">
    <div id="hb">Descriptions du niveau de base (global) {{ intlevel }} du thème {{ topic.title }} </div>
    <br />
    <nav id="tabs-nav" class="clearfix">
      <a href="#titre">Titres des éléments</a><span>&nbsp;</span>
      <a href="#contenu">Contenu(s)</a><span>&nbsp;</span>
      <a href="#evaluation">Evaluation(s)</a><span>&nbsp;</span>
      <a href="#symbolisation">Symbolisation(s)</a><span>&nbsp;</span>
    </nav>
    <div id="tabs-container" onload="initTab()">      
      <article id="titre">
        <strong>Attributs de l'élément global</strong> :
        <br /><br /><strong>Domaine</strong> : {{ domain.title }} 
        <br /><strong>Thème</strong> : {{ topic.title }} 
        {% set dimtopic = topic.mode - 2 %}
        <br /><strong>Dim du thème</strong> : {{ dimtopic }} 
        <br /><strong>Mode du thème</strong> : {{ topic.mode }} 
        <br /><strong>Niveau de base (global)</strong> : {{ intlevel }} <br />
        {% for iEltLPos in 1..6 %}
          {% if tabboolelt[iEltLPos] %}
            <br /><strong>Titre élément {{ iEltLPos }}</strong> : {{ phys[iEltLPos].title }} 
          {% endif %}
        {% endfor %}
      </article>
      <article id="contenu">
        <strong>Contenus de l'élément global et éléments simples enregistrés</strong> :
        <br /><br /><strong>Domaine</strong> : {{ domain.title }} 
        <br /><strong>Thème</strong> : {{ topic.title }}
        <br /><strong>Contenu du thème</strong> : {{ topic.content }} 
        <br /><strong>Niveau de base (global)</strong> : {{ intlevel }} 
        {% for iEltLPos in 1..6 %}
          {% if tabboolelt[iEltLPos] %}
            <br /><br /><strong>Titre</strong> : {{ phys[iEltLPos].title }}
            <br /><strong>Contenu</strong> : {{ phys[iEltLPos].content }} 
          {% endif %}
        {% endfor %}
      </article>
      <article id="evaluation">
        <strong>Evaluations des éléments simples enregistrés</strong> :
        <br /><br /><strong>Domaine</strong> : {{ domain.title }} 
        <br /><strong>Thème</strong> : {{ topic.title }}
        <br /><strong>Contenu du thème</strong> : {{ topic.content }} 
        <br /><strong>Niveau de base (global)</strong> : {{ intlevel }} 
        {% for iEltLPos in 1..6 %}
          {% if tabboolelt[iEltLPos] %}
            <br /><br /><strong>Titre</strong> : {{ phys[iEltLPos].title }}
            <br /><strong>Evaluation</strong> : {{ phys[iEltLPos].evaluation }} 
          {% endif %}
        {% endfor %}
      </article>
      <article id="symbolisation">
        <strong>Symbolisations des éléments simples enregistrés</strong> :
        <br /><br /><strong>Domaine</strong> : {{ domain.title }} 
        <br /><strong>Thème</strong> : {{ topic.title }}
        <br /><strong>Contenu du thème</strong> : {{ topic.content }} 
        <br /><strong>Niveau de base (global)</strong> : {{ intlevel }} 
        {% for iEltLPos in 1..6 %}
          {% if tabboolelt[iEltLPos] %}
            <br /><strong>Titre</strong> : {{ phys[iEltLPos].title }}
            <br /><strong>Symbolisation</strong> : {{ symbol[iEltLPos] }} 
          {% endif %}
        {% endfor %}
      </article>
    </div>
  </div>
{% endblock %}
