{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Lecture de l'élément global du thème - {{ topic.title }}
{% endblock %}

{% block sitephysphysmvc_section %}
  <h2 style = "color:#FFF; text-align:center; margin:10px;">Lecture de l'élément global du thème <strong>{{ topic.title }}</strong></h2>
{% endblock %}

{% block sitephysphysmvc_image %}
  <div class="containertglobal">
    {% for jb in [1,2,3,6,5,4] %}
      {% if (tabboolelt[jb]) %}
        <div>
          <a href="{{ path('sitephys_physmvc_phys_element', {'idTopic': idtop, 'intLevel': intlevel, 'intEltLevel': jb}) }}">
            <img align="left" src="{{ asset('bundles/sitephysphysmvc/images/schemaphysmvcsimple' ~ jb ~ '.png') }}" alt="Schéma de l'élément du modèle global" margin: "0" padding: "0" width="33%" height="135px" onmouseover="this.src='{{ '/bundles/sitephysphysmvc/images/schemaphysmvcsimplesombre' ~ jb ~ '.png' }}'" onmouseout="this.src='{{ '/bundles/sitephysphysmvc/images/schemaphysmvcsimple' ~ jb ~ '.png' }}'" />
          </a>
        </div>
      {% else %}
        <div>
          <img align="left" src="{{ asset('bundles/sitephysphysmvc/images/schemaphysmvcsimpleclair' ~ jb ~ '.png') }}" margin: "0" padding: "0" width="33%" height="135px" alt="Schéma élément non enregistré" />
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}

{% block sitephysphysmvc_body %}
  <div class="well">
    <h2>Descriptions</h2>
    <h3>Pour le niveau de base (global) : {{ intlevel }}, soit : {{ physiniglobalcontent }}.</h3>
    <br />
    <nav id="tabs-nav" class="clearfix">
      <a href="#titre">Titre(s) du thème</a><span>&nbsp;</span>
      <a href="#contenu">Contenu(s)</a><span>&nbsp;</span>
      <a href="#evaluation">Evaluation(s)</a><span>&nbsp;</span>
      <a href="#symbolisation">Symbolisation(s)</a><span>&nbsp;</span>
    </nav>
    <div id="tabs-container" onload="initTab()">      
      <article id="titre">
        {% for iEltLPos in 1..6 %}
          {% if tabboolelt[iEltLPos] %}
            Domaine : {{ domain.content }} <br />
            Thème : {{ topic.content }} <br />
            Mode du thème : {{ topic.mode }} <br />
            Titre : {{ phys[iEltLPos].title }} <br /><br />
          {% endif %}
        {% endfor %}
      </article>
      <article id="contenu">
        {% for iEltLPos in 1..6 %}
          {% if tabboolelt[iEltLPos] %}
            Titre : {{ phys[iEltLPos].title }}
            <br />Contenu : {{ phys[iEltLPos].content }} <br /><br />
          {% endif %}
        {% endfor %}
      </article>
      <article id="evaluation">
        {% for iEltLPos in 1..6 %}
          {% if tabboolelt[iEltLPos] %}
            Titre : {{ phys[iEltLPos].title }}
            <br />Evaluation : {{ phys[iEltLPos].evaluation }} <br /><br />
          {% endif %}
        {% endfor %}
      </article>
      <article id="symbolisation">
        {% for iEltLPos in 1..6 %}
          {% if tabboolelt[iEltLPos] %}
            Titre : {{ phys[iEltLPos].title }}
            <br />Symbolisation : {{ symbol[iEltLPos] }} <br /><br />
          {% endif %}
        {% endfor %}
      </article>
    </div>
  </div>
{% endblock %}
