{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Lecture de l'élément global du thème - {{ toptitle }}
{% endblock %}

{% block sitephysphysmvc_section %}
  <h2 style = "color:#FFF; text-align:center; margin:10px;"><i>Lecture de l'élément global du thème - {{ toptitle }}</i></h2>
{% endblock %}

{% block sitephysphysmvc_image %}
<div id="containerimgglobal">
  <div class="containertglobal">
    {% for jb in [1,2,3,6,5,4] %}
      {% if (tabboolelt[jb]) %}
        <div>
          <a href="{{ path('sitephys_physmvc_phys_element', {'idTopic': idtop, 'intLevel': intlevel, 'intEltLevel': jb}) }}">
            <img align="left" src="{{ asset('bundles/sitephysphysmvc/images/schemaphysmvcsimple' ~ jb ~ '.png') }}" alt="Schéma de l'élément du modèle global" margin: "0" padding: "0" width="30%" height="105px" onmouseover="this.src='{{ '/bundles/sitephysphysmvc/images/schemaphysmvcsimplesombre' ~ jb ~ '.png' }}'" onmouseout="this.src='{{ '/bundles/sitephysphysmvc/images/schemaphysmvcsimple' ~ jb ~ '.png' }}'" />
          </a>
        </div>
      {% else %}
        <div>
          <img align="left" src="{{ asset('bundles/sitephysphysmvc/images/schemaphysmvcsimpleclair' ~ jb ~ '.png') }}" margin: "0" padding: "0" width="30%" height="105px" alt="Schéma élément non enregistré" />
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block sitephysphysmvc_body %}
<div class="well">
  <h3>Niveau de base <i>(global)</i> : {{ intlevel }} </h3>
  <h3>Description du niveau : {{ physiniglobalcontent }} </h3>
    <section id="descriptions">
      <h2><i class="fa fa-gift"></i> Descriptions</h2>
      <nav id="tabs-nav" class="clearfix">
        <a href="#domaine">Domaine et thème</a>
        <a href="#contenu">Contenu</a>
        <a href="#evaluation">Evaluation</a>
        <a href="#symbolisation">Symbolisation</a>
      </nav>
      <div id="tabs-container" onload="initTab()">      
      <article id="domaine">
        {% for intEltLevelPossible in 1..6 %}
          {% if tabboolelt[intEltLevelPossible] %}
            Titre : {{ phystitle[intEltLevelPossible] }}
            <br />Domaine : {{ domaincontent[intEltLevelPossible] }}
            <br />Thème : {{ topiccontent[intEltLevelPossible] }} <br />
          {% endif %}
        {% endfor %}
      </article>
      <article id="contenu">
        {% for intEltLevelPossible in 1..6 %}
          {% if tabboolelt[intEltLevelPossible] %}
            Titre : {{ phystitle[intEltLevelPossible] }}
            <br />Contenu : {{ physcontent[intEltLevelPossible] }} <br />
          {% endif %}
        {% endfor %}
      </article>
      <article id="evaluation">
        {% for intEltLevelPossible in 1..6 %}
          {% if tabboolelt[intEltLevelPossible] %}
            Titre : {{ phystitle[intEltLevelPossible] }}
            <br />Evaluation : {{ physevaluation[intEltLevelPossible] }} <br />
          {% endif %}
        {% endfor %}
      </article>
      <article id="symbolisation">
        {% for intEltLevelPossible in 1..6 %}
          {% if tabboolelt[intEltLevelPossible] %}
            Titre : {{ phystitle[intEltLevelPossible] }}
            <br />Symbolisation : {{ symbolizationcontent[intEltLevelPossible] }} <br />
          {% endif %}
        {% endfor %}
      </article>
    </div>
    </section>
  </div>
{% endblock %}
