{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Etudes des thèmes et domaines de physique  
{% endblock %}

{% block menu %}
  {{ parent() }}
{% endblock %}

{% block sitephysphysmvc_section %}
  <div id="hw">Accueil</div>
{% endblock %}

{% block sitephysphysmvc_image %}
  <div id="containerimghome">
    <div class="containerthome">
      <a href="{{ path('sitephys_physmvc_presentation') }}">
        <img src="{{ asset('bundles/sitephysphysmvc/images/home-fond.jpg') }}" class="homephoto" alt="Lien vers la présentation du site" title="Présentation du site Etudes des thèmes et domaines de physique" />
      </a>
    </div>
  </div>
{% endblock %}

{% block sitephysphysmvc_body %}
  <div class="well">
    <div id="hb">Domaines - thèmes enregistrés pour chaque type d'évolution</div><br />
    
    <nav id="tabs-nav" class="clearfix">
      {% for kex, typex in evol %}
        <span><a href="{{ "#evol" ~ kex }}"> {{ typex }} </a>&nbsp;</span>
      {% endfor %}
      {% for kez, typez in evolsample %}
        <span><a href="{{ "#evolsample" ~ kez }}"> {{ typez }} </a>&nbsp;</span>
      {% endfor %}
      <span><a href="{{ "#lasttentop" }}">Dix derniers thèmes</a>&nbsp;</span>
    </nav>

    <div id="tabs-container" onload="initTab()">
      {% for key, typey in evol %}
        <article id="{{ "evol" ~ key }}">
          {% for domtitlex in domtitle %}
            {% for tabtopperdomx in tabtopperdom[key][domtitlex.id] %}
              {{ domtitlex.title }} - <span><a href="{{ path('sitephys_physmvc_phys_hometopic', {'idTopic': tabtopperdomx.id}) }}"> {{ tabtopperdomx.title }} </a></span><br />
            {% endfor %}  
          {% endfor %}
        </article>
      {% endfor %}
      {% for kew, typew in evolsample %}
        <article id="{{ "evolsample" ~ kew }}">
          {% for domtitlesax in domtitle %}
            {% for tabtopperdomsax in tabtopperdomsa[kew][domtitlesax.id] %}
              {{ domtitlesax.title }} - <span><a href="{{ path('sitephys_physmvc_phys_sample', {'idTopic': tabtopperdomsax.id}) }}"> {{ tabtopperdomsax.title }} </a></span><br />
            {% endfor %}  
          {% endfor %}
        </article>
      {% endfor %}
      <article id="{{ "lasttentop" }}">
        {% for lasttentopx in lasttentop %}
          {% if lasttentopx.mode < 5 %}
            <a href="{{ path('sitephys_physmvc_phys_hometopic', {'idTopic': lasttentopx.id}) }}"><div> {{ lasttentopx.title }} (double niveau)</div></a> 
          {% else %}
            <a href="{{ path('sitephys_physmvc_phys_sample', {'idTopic': lasttentopx.id}) }}"><div> {{ lasttentopx.title }} (simple niveau)</div></a> 
          {% endif %}
        {% endfor %}
      </article>
    </div>

  </div>
{% endblock %}
