{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Suggestion d'édition
{% endblock %}

{% block sitephysphysmvc_section %}
  <h2 style = "color:#FFF; text-align:center; margin:10px;"><i>Suggestion d'édition</i></h2>
{% endblock %}

{% block sitephysphysmvc_image %}
  <div class="containerthome">
    <img src="{{ asset('bundles/sitephysphysmvc/images/fond-cosmo.jpg') }}" class="homephoto" alt="Image de Accueil - Edition" />
  </div>
{% endblock %}

{% block sitephysphysmvc_body %}
  <div class="well">
    <h2>Types d'édition</h2><br />

    <nav id="tabs-nav" class="clearfix">
      <a href="#consultelt">Eléments</a><span>&nbsp;</span>
      {% if is_granted('ROLE_AUTHOR') %}
        <a href="#modif">Modification d'élément</a><span>&nbsp;</span>
      {% else %}
        <span class="italique">Modification d'élément (auteurs)</span><span>&nbsp;</span>
      {% endif %}
      <a href="#consultupd">Eléments modifiés</a><span>&nbsp;</span>
      {% if is_granted('ROLE_AUTHOR') %}
        <a href="#add">Ajout d'objet</a><span>&nbsp;</span>
      {% else %}
        <span class="italique">Ajout d'objet (auteurs)</span><span>&nbsp;</span>
      {% endif %}
      <a href="#consultadd">Objets ajoutés</a>
    </nav>

    <div id="tabs-container" onload="initTab()">
      <article id="consultelt">
        {% for physphyssx in physphyss %}
          <a href="{{ path('sitephys_physmvc_phys_view', {'id': physphyssx.id}) }}">
          {{ physphyssx.title }} </a><span>&nbsp;</span>
        {% endfor %}
      </article>
      {% if is_granted('ROLE_AUTHOR') %}
        <article id="modif">
          {% for physphyssy in physphyss %}
            <a href="{{ path('sitephys_physmvc_edition_update', {'id': physphyssy.id}) }}">
            {{ physphyssy.title }} </a><span>&nbsp;</span>
          {% endfor %} 
        </article>
      {% endif %} 
      <article id="consultupd">
        {% for physupphysx in physupphys %}
          <a href="{{ path('sitephys_physmvc_edition_viewupd', {'idphys': physupphysx.id}) }}"> {{ physupphysx.title }} </a><span>&nbsp;</span>
        {% endfor %}
      </article>
      {% if is_granted('ROLE_AUTHOR') %}
        <article id="add">
          <a href="{{ path('sitephys_physmvc_edition_add', {'idthing': "domain"}) }}"> Domaine </a>
          <br /><a href="{{ path('sitephys_physmvc_edition_add', {'idthing': "topic"}) }}"> Thème </a>
          <br /><a href="{{ path('sitephys_physmvc_edition_add', {'idthing': "element"}) }}"> Elément </a>
        </article>
      {% endif %} 
      <article id="consultadd">
        {% for physphysaddsx in physphysadds %}
          <a href="{{ path('sitephys_physmvc_edition_viewadd', {'idadd': physphysaddsx.id}) }}"> {{ physphysaddsx.title }} </a><span>&nbsp;</span>
        {% endfor %}
      </article>
    </div>
    
  </div>
{% endblock %}
