{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Home des éléments 
{% endblock %}

{% block sitephysphysmvc_section %}
  <h2 style = "color:#FFF; text-align:center; margin:10px;"><i>Accueil</i></h2>
{% endblock %}

{% block sitephysphysmvc_image %}
  <div id="containerimghome">
    <div class="containerthome">
      <img src="{{ asset('bundles/sitephysphysmvc/images/photoelectrohome.jpg') }}" class="homephoto" alt="Image de Home" />
    </div>
  </div>
{% endblock %}

{% block sitephysphysmvc_body %}
  <div class="well">
    <h2>Liste des thèmes enregistrés pour chaque domaine</h2>
    <nav id="tabs-nav" class="clearfix">
      {% for tabdo in tabdom %}
        <a href="{{ "#dom" ~ tabdo[0] }}"> {{ tabdo[1] }} </a>
      {% endfor %}
      <a href="{{ "#lasttentop" }}"> 10 derniers thèmes </a>
      <a href="{{ "#lasttwentyelt" }}"> 20 derniers éléments </a>
    </nav>
    <div id="tabs-container" onload="initTab()">
      {% for tabd in tabdom %}
        <article id="{{ "dom" ~ tabd[0] }}">
          {% for tabtoppdom in tabtopperdom[tabd[0]] %}
            <a href="{{ path('sitephys_physmvc_phys_hometopic', {'idTopic': tabtoppdom[0]}) }}"><div> {{ tabtoppdom[1] }} </div></a>
          {% endfor %}
        </article>
      {% endfor %}
      <article id="{{ "lasttentop" }}">
        {% for it in 0..cptt %}
          <a href="{{ path('sitephys_physmvc_phys_hometopic', {'idTopic': idtenlasttop[it]}) }}"><div> {{ titletop[it] }} </div></a>
        {% endfor %}
      </article>
      <article id="{{ "lasttwentyelt" }}">
        {% for ie in 0..cpte %}
          <a href="{{ path('sitephys_physmvc_phys_view', {'id': idtwentylastelt[ie] }) }}"><div> {{ titleelt[ie] }} </div></a>
        {% endfor %}
      </article>
    </div>
  </div>
{% endblock %}
