{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Elément - {{ parent() }}
{% endblock %}

{% block sitephysphysmvc_section %}

  <h2>Edition de l'élément {{ phys.title }} </h2>
  <p>
    Propositions d'édition de cet élément : 
  </p>
  <p>
    <a href="{{ path('sitephys_physmvc_edition_add') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Ajout d'un élément
    </a>
  </p>
  <p>
    <a href="{{ path('sitephys_physmvc_edition_update', {'id': phys.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Modification de l'élément
    </a>
  </p>
  <p>
    <a href="{{ path('sitephys_physmvc_edition_delete', {'id': phys.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Suppression d'un élément
    </a>
  </p>

{% endblock %}

{% block sitephysphysmvc_body %}
  <p>
    <a href="{{ path('sitephys_physmvc_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'accueil
    </a>
    <a href="{{ path('sitephys_physmvc_topic') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Thèmes et domaines
    </a>
    <a href="{{ path('sitephys_physmvc_symbolization') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Niveaux et symbolisations
    </a>
  </p>

{% endblock %}
