{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Accueil des éléments du thème {{ topi.title }}
{% endblock %}

{% block sitephysphysmvc_section %}
  <h2 style = "color:#FFF; text-align:center; margin:10px;"><i>Accueil des éléments du thème {{ topi.title }}</i></h2>
{% endblock %}

{% block sitephysphysmvc_image %}
<div class="groupphotos">
  <div id="containerimghometopic">
    {% for ib in [1,2,3,6,5,4] %}
      {% if tabboolbase[ib] %}
        <div>
          <a href="{{ path('sitephys_physmvc_phys_global', {'idTopic': idtop, 'intLevel': ib}) }}">
            <img src="{{ asset( 'bundles/sitephysphysmvc/images/schemaphysmvcglobal' ~ ib ~ '.png' ) }}" align="left" margin: "0" padding: "0" width="33%" alt="Schéma élément du modèle global" onmouseover="this.src='{{ '/bundles/sitephysphysmvc/images/schemaphysmvcglobalsombre' ~ ib ~ '.png' }}'" onmouseout="this.src='{{ '/bundles/sitephysphysmvc/images/schemaphysmvcglobal' ~ ib ~ '.png' }}'" />
          </a>
        </div>
      {% else %}
        <div>
          <img src="{{ asset( 'bundles/sitephysphysmvc/images/schemaphysmvcglobalclair' ~ ib ~ '.png' ) }}" align="left" margin: "0" padding: "0" width="33%" alt="Schéma élément non enregistré" />
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block sitephysphysmvc_body %}
  <div class="well">

    <h3>Liste des éléments disponibles pour le thème {{ topi.title }}</h3>
    <br />
    {% for listphysx in listphys %}
      <strong> {{ listphysx.title }} </strong> du niveau :<span>&nbsp;</span>
      {{ levelcontent[listphysx.id] }}
      <span class="italique"> par {{ listphysx.author }}, le {{ listphysx.date|date('d/m/Y') }}</span>
      <br />
    {% endfor %}
  </div>
  <br />
  <div id="eval-th">
    <div class="button-eval">
      <a href="{{ path('sitephys_physmvc_evaluation', {'idTopic': idtop}) }}">Evaluations du thème</a>
    </div>
    
  </div>
{% endblock %}
