{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Home des éléments 
{% endblock %}

{% block sitephysphysmvc_image %}
<div>
    <a href="{{ path('sitephys_physmvc_phys_global', {'idtopics':1,'strlevel':'a:2:{i:0;s:1:"2";i:1;s:1:"1";}'}) }}">
    <img align="left" margin: "0" padding: "0" src="{{ asset('bundles/sitephysphysmvc/images/schemaphysmvcglobal1.png') }}" alt="Schéma de l'élément 1 du modèle global" width="33%" />
    </a>
    <img align="left" margin: "0" padding: "0" src="{{ asset('bundles/sitephysphysmvc/images/schemaphysmvcglobal2.png') }}" alt="Schéma de l'élément 2 du modèle global" width="33%" />
    <img align="left" margin: "0" padding: "0" src="{{ asset('bundles/sitephysphysmvc/images/schemaphysmvcglobal3.png') }}" alt="Schéma de l'élément 3 du modèle global" width="33%" />
    <img align="left" margin: "0" padding: "0" src="{{ asset('bundles/sitephysphysmvc/images/schemaphysmvcglobal6.png') }}" alt="Schéma de l'élément 6 du modèle global" width="33%" />
    <img align="left" margin: "0" padding: "0" src="{{ asset('bundles/sitephysphysmvc/images/schemaphysmvcglobal5.png') }}" alt="Schéma de l'élément 5 du modèle global" width="33%" />
    <img align="left" margin: "0" padding: "0" src="{{ asset('bundles/sitephysphysmvc/images/schemaphysmvcglobal4.png') }}" alt="Schéma de l'élément 4 du modèle global" width="33%" />
    </a>
</ div>
{% for lev in range(0..cptMax) %}
{{ topiccontent[lev] }}
{% endfor %}
{% endblock %}

{% block sitephysphysmvc_body %}

  <div style="float: left; margin-right: 1em;">
  </div>

  <h3>
  {% for phys in listphys %}
    <i>Par {{ phys.author }}, le {{ phys.date|date('d/m/Y') }}</i>
  {% endfor %}
  </h3>
  <div class="well">
    {% for cp in range(0, cptMax - 1) %}
      {{ phystitle[cp] }}
      {{ domaincontent[cp] }}
      {{ topiccontent[cp] }}
      {{ levelcontent[cp] }}
      {{ physcontent[cp] }}{% if not loop.last %}, {% endif %}
    {% endfor %}
  </div>

  <p>
    <a href="{{ path('sitephys_physmvc_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('sitephys_physmvc_domain') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Domaines
    </a>
    <a href="{{ path('sitephys_physmvc_topic') }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Thèmes
    </a>
  </p>

{% endblock %}
