{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Home des éléments 
{% endblock %}

{% block menu %}
  {{ parent() }}
{% endblock %}

{% block sitephysphysmvc_section %}
  <h2 style = "color:#FFF; text-align:center; margin:10px;">Accueil</h2>
{% endblock %}

{% block sitephysphysmvc_image %}
  <div id="containerimghome">
    <div class="containerthome">
      <img src="{{ asset('bundles/sitephysphysmvc/images/photoelectrohome.jpg') }}" class="homephoto" alt="Image de Accueil" />
    </div>
  </div>
{% endblock %}

{% block sitephysphysmvc_body %}
  <div class="well">
    <h2>Domaines - thèmes enregistrés pour chaque type d'évolution</h2><br />
    <nav id="tabs-nav" class="clearfix">
      <span> </span>
      {% for kex, typex in evol %}
        <span> </span><a href="{{ "#evol" ~ kex }}"> {{ typex }} </a><span> </span>
      {% endfor %}
      <a href="{{ "#lasttentop" }}">Dix derniers thèmes</a><span> </span>
      <a href="{{ "#lasttwentyelt" }}">Vingt derniers éléments</a><span> </span>
    </nav>
    <div id="tabs-container" onload="initTab()">
      {% for key, typey in evol %}
        <article id="{{ "evol" ~ key }}">
          {% for tabd in tabdom[key] %}
            {% for tabtoppdom in tabtopperdom[key][tabd[0]] %}
              <a href="{{ path('sitephys_physmvc_phys_hometopic', {'idTopic': tabtoppdom[0]}) }}"><div> {{ tabd[1] }} - {{ tabtoppdom[1] }} </div></a>
            {% endfor %}  
          {% endfor %}
        </article>
      {% endfor %}
      <article id="{{ "lasttentop" }}">
        {% for it in idtenlasttop %}
          <a href="{{ path('sitephys_physmvc_phys_hometopic', {'idTopic': it}) }}"><div> {{ titletop[it] }} </div></a>
        {% endfor %}
      </article>
      <article id="{{ "lasttwentyelt" }}">
        {% for ie in idtwentylastelt %}
          <a href="{{ path('sitephys_physmvc_phys_view', {'id': ie }) }}"><div> {{ titleelt[ie] }} </div></a>
        {% endfor %}
      </article>
    </div>
  </div>
{% endblock %}
