{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Accueil 
{% endblock %}

{% block menu %}
  {{ parent() }}
{% endblock %}

{% block sitephysphysmvc_section %}
  <h3 style = "color:#FFF; text-align:center; margin:10px;">Accueil</h3>
{% endblock %}

{% block sitephysphysmvc_image %}
  <div id="containerimghome">
    <div class="containerthome">
      <a href="{{ path('sitephys_physmvc_presentation') }}">
        <img src="{{ asset('bundles/sitephysphysmvc/images/home-fond.jpg') }}" class="homephoto" alt="Lien vers Présentation" title="Présentation du site" />
      </a>
    </div>
  </div>
{% endblock %}

{% block sitephysphysmvc_body %}
  <div class="well">
    <h3>Domaines - thèmes enregistrés pour chaque type d'évolution</h3><br />
    
    <nav id="tabs-nav" class="clearfix">
      {% for kex, typex in evol %}
        <a href="{{ "#evol" ~ kex }}"> {{ typex }} </a><span>&nbsp;</span>
      {% endfor %}
      <a href="{{ "#lasttentop" }}">Dix derniers thèmes</a><span>&nbsp;</span>
    </nav>

    <div id="tabs-container" onload="initTab()">
      {% for key, typey in evol %}
        <article id="{{ "evol" ~ key }}">
          {% for domcontentx in domcontent %}
            {% for tabtopperdomx in tabtopperdom[key][domcontentx.id] %}
              {{ domcontentx.content }} - <span><a href="{{ path('sitephys_physmvc_phys_hometopic', {'idTopic': tabtopperdomx.id}) }}"> {{ tabtopperdomx.content }} </a></span><br />
            {% endfor %}  
          {% endfor %}
        </article>
      {% endfor %}
      <article id="{{ "lasttentop" }}">
        {% for lasttentopx in lasttentop %}
          <a href="{{ path('sitephys_physmvc_phys_hometopic', {'idTopic': lasttentopx.id}) }}"><div> {{ lasttentopx.title }} </div></a>
        {% endfor %}
      </article>
    </div>

  </div>
{% endblock %}
