{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Suggestion d'édition
{% endblock %}

{% block sitephysphysmvc_section %}
  <h2 style = "color:#FFF; text-align:center; margin:10px;"><i>Suggestion d'édition</i></h2>
{% endblock %}

{% block sitephysphysmvc_image %}
  <div class="containerthome">
    <img src="{{ asset('bundles/sitephysphysmvc/images/fond-cosmo.jpg') }}" class="homephoto" alt="Image de Accueil - Edition" />
  </div>
{% endblock %}

{% block sitephysphysmvc_body %}
  <div class="well">
    <h2>Types d'édition</h2><br />
    <nav id="tabs-nav" class="clearfix">
      <span> </span>
      <a href="#consultelt">Eléments</a>
      {% if is_granted('ROLE_AUTHOR') %}
        <span> </span><a href="#modif">Modification d'élément</a>
      {% else %}
        <span> Modification d'élément </span><span class="italique">(auteurs)</span>
      {% endif %}
      <span> </span><a href="#consultupd">Eléments modifiés</a><span> </span>
      {% if is_granted('ROLE_AUTHOR') %}
        <span> </span><a href="#add">Ajout d'objet</a>
      {% else %}
        <span> Ajout d'objet </span><span class="italique">(auteurs)</span>
      {% endif %}
      <span> </span><a href="#consultadd">Objets ajoutés</a>
    </nav>
    <div id="tabs-container" onload="initTab()">
      <article id="consultelt">
        <span> </span>
        {% for idposphys in 0..cptphys %}
          <span> </span><a href="{{ path('sitephys_physmvc_phys_view', {'id': physid[idposphys]}) }}">
          {{ physedit[idposphys] }} </a><span> </span>
        {% endfor %}
      </article>
      {% if is_granted('ROLE_AUTHOR') %}
        <article id="modif">
          <span> </span>
          {% for idposphys in 0..cptphys %}
            <span> </span>
            <a href="{{ path('sitephys_physmvc_edition_update', {'id': physid[idposphys]}) }}">
            {{ physedit[idposphys] }} </a><span> </span>
          {% endfor %} 
        </article>
      {% endif %} 
      <article id="consultupd">
        <span> </span>
        {% for idposphysu in 0..cptphys %}
          <span> </span>
          <a href="{{ path('sitephys_physmvc_edition_viewupd', {'idphys': physid[idposphysu]}) }}"> {{ physedit[idposphysu] }} </a><span> </span>
        {% endfor %}
      </article>
      {% if is_granted('ROLE_AUTHOR') %}
        <article id="add">
          <a href="{{ path('sitephys_physmvc_edition_add', {'idthing': "domain"}) }}"> Domaine </a>
          <br /><a href="{{ path('sitephys_physmvc_edition_add', {'idthing': "topic"}) }}"> Thème </a>
          <br /><a href="{{ path('sitephys_physmvc_edition_add', {'idthing': "element"}) }}"> Elément </a>
        </article>
      {% endif %} 
      <article id="consultadd">
        <span> </span>
        {% for idposadd in 0..cptadd %}
          <span> </span><a href="{{ path('sitephys_physmvc_edition_viewadd', {'idadd': addid[idposadd]}) }}"> {{ addedit[idposadd] }} </a><span> </span>
        {% endfor %}
      </article>
    </div>
  </div>
{% endblock %}
