{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Suggestion d'édition d'élément
{% endblock %}

{% block sitephysphysmvc_section %}
  <h2 style = "color:#FFF; text-align:center; margin:10px;"><i>Suggestion d'édition d'élément</i></h2>
{% endblock %}

{% block sitephysphysmvc_image %}
{% endblock %}

{% block sitephysphysmvc_body %}
  <div class="well">
    <h3>Propositions d'édition d'élément</h3>
    <nav id="tabs-nav" class="clearfix">
      <a href="#consult">Consultation</a>
      <a href="#modif">Modification</a>
      <a href="#add">Ajout</a>
    </nav>
    <div id="tabs-container" onload="initTab()">      
      <article id="consult">
        {% for idPosPhys in 0..cptphys %}
          <a href="{{ path('sitephys_physmvc_phys_view', {'id': physid[idPosPhys]}) }}">
          {{ physedit[idPosPhys] }} </a><br />
        {% endfor %}
      </article>
      <article id="modif">
        {% for idPosPhys in 0..cptphys %}
          <a href="{{ path('sitephys_physmvc_edition_update', {'id': physid[idPosPhys]}) }}">
          {{ physedit[idPosPhys] }} </a><br />
        {% endfor %}
      </article>
      <article id="add">
        {% for idPosDomain in 0..cptdomain %}
          {% for idPosLevel in 0..cptlevel %}
            <a href="{{ path('sitephys_physmvc_edition_add', {'idDomain': domainid[idPosDomain], 'idLevel' : levelid[idPosLevel]}) }}"> Domaine : {{ domainedit[idPosDomain] }} - Niveau : {{ leveledit[idPosLevel] }} </a><br />
          {% endfor %}
        {% endfor %}
      </article>
    </div>
  </div>
{% endblock %}
