{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Présentation du site Etudes des thèmes et domaines de physique 
{% endblock %}

{% block sitephysphysmvc_section %}
  <div id="hw">Présentation du site</div>
{% endblock %}

{% block sitephysphysmvc_image %}
  <div id="containerimghome">
    <div class="containerthome">
      <img src="{{ asset('bundles/sitephysphysmvc/images/schemaphysmvcelement.jpg') }}" class="homephoto" alt="Image de niveaux basiques" title="Schéma Elément simple avec les niveaux" />
	  </div>	
  </div>
{% endblock %}

{% block sitephysphysmvc_body %}
  <div class="well">

    <div id="hb">Etudes des attributs et fonctionnalités des éléments de physique</div><br />
      <nav id="tabs-nav" class="clearfix">
        <a href="#modele">Modèles objets</a><span>&nbsp;</span>
        <a href="#editions">Editions (fonctionnalités)</a><span>&nbsp;</span>
        <a href="#appli">Applications</a><span>&nbsp;</span>
        <a href="#domaines">Domaines</a><span>&nbsp;</span>
        <a href="#niveaux">Niveaux</a><span>&nbsp;</span>
        <a href="#modes">Modes</a><span>&nbsp;</span>
        <a href="#symbolisation">Symbolisations</a><span>&nbsp;</span>
      </nav>


    <div id="tabs-container" onload="initTab()">

        <article id="modele">
          <ul>Les <strong>langages orientés objet</strong> reproduisent des réalités physiques : valeurs (expérimentales ou théoriques) et fonctionnalités, avec leurs évolutions (logiques ou chronologiques, erratiques ou astreintes) dans un cadre d'études au sein d'un environnement déterminé (modélisé ou non). Leurs éléments structurels sont les classes, elles-mêmes objets d'études au sein de cet environnement, pouvant être définies par héritage, interface, classe abstraite... Situées dans un namespace du schéma général du système, elles sont constituées de leurs variables (attributs) et de leurs fonctionnalités (méthodes) propres. Elles peuvent être en relation avec d'autres classes présentes. Les objets sont des instances de ces classes. Les relations (binaires exp. - th., forme - fond, classes - objets, attributs - méthodes, ...) au sein et entre classes et objets font du langage objet une autocomplétion de la description des éléments physiques et de leurs interactions pour un environnement défini. <br />
            <br /><li> Modèle du <strong>cycle en V</strong> : méthode de gestion de projet avec l'évolution suivante : 
            théorie (conception, spécifications) -> expérimentale (codage, détails du développement) -> théorie (fonctionnalités du produit, recette) décrivant un V (augmentation puis diminution du détail) avec les comparaisons horizontales (mêmes niveaux entre les deux branches du V) du projet.</li><br />
            <li> Méthodes <strong>Agile</strong> pour un projet de site Web : évolutions en cycles adaptatifs avec des échanges (description, analyses, propositions, corrections, améliorations, ...) entre clients et intégrateurs/développeurs ou entre intégrateurs/développeurs, qui sont définis, adaptés et fréquents.</li><br />
            <li> Modèles <strong>MVC</strong> avec (analogies) : Modèle (exp. in) - Vue (exp. out) - Contrôleur (th.). Séparation des fonctionnalités d'un système développé (logiciel, site, API, ...) permettant une conformité, une réalisation, une maintenance et une évolution efficaces et plus aisées.</li>
          </ul>
        </article>

        <article id="appli">
			<ul><strong>Applications</strong> concernant les évolutions de projets en physique - chimie : modèles orientés objet sur le fond (méthodes d'évolution pour un thème donné des systèmes, éléments quantifiés ou qualifiés, variables, environnements, référentiels, lois, théories, ...) : <br />
            <br /><li> Conceptions, évaluations, analyses, interactions, comparaisons, vérifications pour des émergences du hasard (systèmes sans contraintes, aléatoires, isolés, induisant la possibilité d'études statistiques, ...) ou bien utilisation des nécessités (logiques, de symétrie, de symétrie de jauge, de constance, de conservation, d'équilibres, de changement d'état, de propriétés, de minimalisation de variables, d'optimisation, ...) selon le cadre d'études (définitions, environnements, référentiels, repères, variables, ensembles, principes, postulats, ...). </li>
            <br /><li> Modèles objet pour la forme (avec par exemple adaptation des modèles sur le fond) : méthodes d'évolution de projet, systèmes organisationnels, méthodes de production de méthodes, ... </li>
            <br /><li> Types d'analyses de base sur des sujets expérimentaux ou théoriques (environnements, cadres, systèmes ou variables d'études et modèles, lois, entités physiques, ...) par : mesures, évaluations (empiriques), causalités discrètes (états successifs), considérations d'espèces aléatoires, modélisation aux éléments finis, analogies, ... </li>
            <br /><li> Types d'analyses évoluées sur des sujets expérimentaux ou théoriques (environnements, cadres, systèmes ou variables d'études et modèles, lois, entités physiques, ...) par : symbolisation, généralisation, englobement, conversions discret - continu, complexification, simplification, optimisation, récursivité, apprentissage de méthodes, ... </li>
          </ul>
        </article>

        <article id="editions">
          <ul><strong>Editions</strong> (accès aux fonctionnalités) : <br />
            <br /><li> Visiteurs : consultation des éléments actuels.</li>
            <li> Utilisateurs (users) : gestion de compte, consultation des éléments actuels, éléments modifiés et ajoutés.</li>
            <li> Auteurs (authors) : gestion de compte, ajoût de domaine, consultation et modification des éléments actuels, ou consultation des éléments modifiés et ajoutés.</li>
            <li> Administrateurs (administrators) : gestion des utilisateurs, ajout de domaine et thèmes, consultation, modification et ajoût des éléments actuels, éléments modifiés et ajoutés.</li>
          </ul>
        </article>

        <article id="domaines">
          <ul><strong>Domaines</strong> disponibles : <br /><br />
            {% for domainx in domain %}
              <li> {{ domainx.title }} </li>
            {% endfor %}
		  </ul>
        </article>

        <article id="niveaux">
          <strong>Schéma général</strong> à <strong>simples niveaux</strong> : seuls éléments de <strong>1</strong> à <strong>6</strong> (Cf. schéma ci-dessus.). 
          <br /><br /> <strong>Schéma général</strong> à <strong>doubles niveaux</strong> de <strong>1</strong> à <strong>6</strong> (Cf. schéma ci-dessous.) :<br /><br />
          <img src="{{ asset('bundles/sitephysphysmvc/images/schemaphysmvcglobal.png') }}" id="containerimghome" alt="Image de niveaux globaux" title="Schéma global" /><br />
          <ul><strong>Niveaux</strong> des éléments pour chaque thème : <br />
            <br /><li> Niveau de base (global, nb de 1 à 6, cf. schéma ci-dessus pour les éléments globaux). </li><br />
			<li> Niveau de précision (np de 1 à 6 : niveau d'élément dans un élément global, cf. schéma ci-dessus pour les éléments simples de chacun des éléments globaux). </li><br /> 
            <li> Niveau de précision np = 0 : niveau global de l'élément d'un niveau de base nb. </li><br /> 
            <li> Description formelle des niveaux de précision np (1 : "exp. in" et Action = "Observation", 2 : "th." et Action = "Formalisation" ou bien 3 : "exp. out" et Action = "Analyse, application") de la chaîne d'entrée : <br />
            Action (niveau de précision « np ») dans le cadre utilisé de la chaîne d'entrée du niveau de base  « nb » des sorties établies au niveau nb – (np - 1) ou bien si np = 1, (nb - 1) – 3 (si nb > 1, sinon "Entrées générales") et nb – 6. Cette action produit des sorties, entrées du niveau nb – (np + 1) (et (nb + 1) – 1 si np = 3). </li><br />
            <li> Description formelle des niveaux de précision np (4 : "exp. in" et Action = "Observation", 5 : "th." et Action = "Formalisation" ou bien 6 : "exp. out" et Action = "Analyse, application") de la chaîne de retour : <br />
            Action explicite ou implicite (niveau de précision « np ») dans le cadre utilisé de la chaîne de retour du niveau de base  « nb » des sorties établies au niveau nb – (np - 1). Ses fonctions (méthodes) d'études par rapport au niveau nb – (np - 3)  et ses valeurs (attributs) d'études par rapport au niveau nb – (7 - np) (comparaisons par les évaluations entre les niveaux d'avancée équivalente) peuvent être inchangés, redéfinis, précisés, modifiés, simplifiés, complexifiés, extrapolés... Cette action produit des sorties, entrées du niveau nb – (np + 1) ou nb – 1 si np = 6. </li>
          </ul>
        </article>

        <article id="modes">
           <ul><strong>Etendue d'évolution</strong> d'éléments à <strong>simples niveaux</strong>, pour le thème défini, étudié suivant une évolution elle-même causale discrète (par niveau : 1, 2, ..., 6). On note mode = dim + 2. Evolution pour mode = ... <br />
            <li> 7 : champ, espace (états et gradients, implicites ou explicites) de résolutions.</li>
            <li> 6 : points (états).</li>
            <li> 5 : champ, espace (états et gradients, implicites ou explicites) de  questionnements.</li>
          </ul><br />
          <ul><strong>Etendue d'évolution</strong> d'éléments à doubles niveaux, d'une dimension <strong>dim</strong> positive pour le thème défini, étudié suivant une évolution elle-même causale discrète (par niveau : 1 - 1, 1 - 2, ..., 6 - 5, 6 - 6), de résolutions, sans question, dans l'environnement et cadre d'études, comprenant également les éléments identifiés du système. On note mode = dim + 2. Pour dim = ... <br />
            <li> 2 ou plus : champ, espace (états et gradients de multiplicité de 2 jusqu'à dim, implicites ou explicites) de résolutions.</li>
            <li> 1 : points (états) et leur direction locale (orientation implicite ou explicite).</li>
          </ul>
          <ul>Présentation d'éléments établis (dim = 0) du thème (système pour la forme ou pour le fond) étudié suivant une évolution causale discrète (par niveau : 1 - 1, 1 - 2, ..., 6 - 5, 6 - 6) de positions acquises ou prédites dans l'environnement d'étude comprenant lui-même les éléments identifiés du système : <br />
            <li> 0 : points (états).</li>
          </ul>
          <ul>Etendue de recherche d'éléments de dimension dim négative pour le thème défini, étudié suivant une évolution elle-même causale discrète (par niveau : 1 - 1, 1 - 2, ..., 6 - 5, 6 - 6) comprenant au moins une question et avec d'éventuelles résolutions, dans l'environnement et cadre d'études, comprenant également les éléments identifiés du système. On note mode = dim + 2. Pour dim = ... <br />
            <li> -1 : points (états) et leur direction locale (orientation implicite ou explicite).</li>
            <li> -2 ou moins : champ, espace (états et gradients de multiplicité de 2 jusqu'à -dim, implicites ou explicites) de questionnements (au moins un) et d'éventuelles résolutions.</li>
          </ul>
        </article>

        <article id="symbolisation">
			    <strong>Symbolisations</strong> (De l'expérimentation : moyens, protocoles de sélection, de mise en oeuvre, d'utilisation, de précision, de tests, ... et de la théorie : outils de recueil, utilisation et analyse des références théoriques existantes, outils de formulations et de conformités de théories inexistantes, apprentissages informatiques, ...) disponibles suivant l'ensemble des thèmes : 

          {% for levp in 1..6 %}
            <br /><br /><strong>Niveau {{ levp }}</strong> : 
            <br /> {{ level[levp].content }} 
            {% set cptsym = 0 %}
            {% for symcontentx in symcontent[levp] %}
              {% set cptsym = cptsym + 1 %}
              <br />Symbolisation {{ cptsym }} : {{ symcontentx }} 
            {% endfor %}
          {% endfor %}
        </article>
      </div>
    </div>

{% endblock %}
