{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Présentation du site Etudes des thèmes et domaines de physique 
{% endblock %}

{% block sitephysphysmvc_section %}
  <div id="hw">Présentation du site</div>
{% endblock %}

{% block sitephysphysmvc_image %}
  <div id="containerimghome">
    <div class="containerthome">
      <img src="{{ asset('bundles/sitephysphysmvc/images/schemaphysmvcelement.jpg') }}" class="homephoto" alt="Image de niveaux basiques" title="Schéma Elément simple avec les niveaux" />
	  </div>	
  </div>
{% endblock %}

{% block sitephysphysmvc_body %}
  <div class="well">

    <div id="hb">Etudes des attributs et fonctionnalités des éléments de physique dans leur environnement</div><br />
      <nav id="tabs-nav" class="clearfix">
        <a href="#modele">Modèles objets</a><span>&nbsp;</span>
        <a href="#editions">Editions (fonctionnalités)</a><span>&nbsp;</span>
        <a href="#appli">Applications</a><span>&nbsp;</span>
        <a href="#domaines">Domaines</a><span>&nbsp;</span>
        <a href="#niveaux">Niveaux</a><span>&nbsp;</span>
        <a href="#modes">Modes</a><span>&nbsp;</span>
        <a href="#symbolisation">Symbolisations</a><span>&nbsp;</span>
        <a href="#references">Références</a><span>&nbsp;</span>
      </nav>

    <div id="tabs-container" onload="initTab()">

        <article id="modele">
          <ul>Les <strong>langages orientés objet</strong> reproduisent des réalités physiques : valeurs (expérimentales ou théoriques) et fonctionnalités, avec leurs évolutions (logiques ou chronologiques, erratiques ou astreintes) dans un cadre d'études au sein d'un environnement déterminé (modélisé ou non). Leurs éléments structurels sont les classes, elles-mêmes objets d'études au sein de cet environnement, pouvant être définies par héritage, interface, classe abstraite... Situées dans un << namespace >> du schéma général du système, elles sont constituées de leurs variables (attributs) et de leurs fonctionnalités (méthodes) propres. Elles peuvent être en relation avec d'autres classes présentes. Les objets sont des instances de ces classes. Les relations (binaires exp. - th., forme - fond, classes - objets, attributs - méthodes, fonctions d'ondes - opérateurs, systèmes - environnements, ...) au sein et entre classes et objets font du langage objet une autocomplétion de la description des éléments physiques et de leurs interactions pour un environnement défini. <br />
            <br /><li> Modèle du <strong>cycle en V</strong> : méthode de gestion de projet avec l'évolution suivante : 
            théorie (conception, spécifications) -> expérimentale (codage, détails du développement) -> théorie (fonctionnalités du produit, recette) décrivant un V (augmentation puis diminution du détail) avec les comparaisons horizontales (mêmes niveaux entre les deux branches du V) du projet.</li><br />
            <li> Méthodes <strong>Agile</strong> pour un projet de site Web : évolutions en cycles adaptatifs avec des échanges (description, analyses, propositions, corrections, améliorations, ...) entre clients et intégrateurs/développeurs ou entre intégrateurs/développeurs, qui sont définis, adaptés et fréquents.</li><br />
            <li> Modèles <strong>MVC</strong> avec (analogies) : Modèle (exp. in) - Vue (exp. out) - Contrôleur (th.). Classifiant les attributs (objets stockés, paramètres, ressources) et fonctionnalités (controlleurs) mêmes d'un système développé (logiciel, site, API, ...), ils permettent une conformité, une maintenance et une évolution efficaces et plus aisées à réaliser.</li>
          </ul>
        </article>

        <article id="appli">
          <ul><strong>Applications des modèles orientés objet</strong> (avec les attributs et fonctionnalités du cadre, des classes et de leurs instances) aux évolutions et gestions de projets pour un thème donné en physique - chimie - technologies : <br />
            <br /><li> <strong>Méthodes des gestions de projet (sur la forme)</strong> concernant les moyens, développements, tests, maintenances, évaluations, systèmes organisationnels, méthodes de production de méthodes, d'élaboration de cadres d'études, ... </li>
            <br /><li> <strong>Méthodes des évolutions (sur le fond)</strong> concernant les systèmes, éléments quantifiés ou qualifiés, variables, environnements, référentiels, lois, théories, ... </li>
            <br /><li> <strong>Conceptions objet, évaluations, analyses, interactions, comparaisons, vérifications</strong> pour des émergences du <strong>hasard</strong> (systèmes sans contraintes, aléatoires, isolés, induisant une possibilité d'études statistiques, ...) ou bien utilisation des <strong>nécessités</strong> (logiques, tautologiques, d'équivalence, d'isotropie, de symétrie, de symétrie de jauge, de constance, de conservation, d'équilibres, de changement d'état, de propriétés, de minimalisation de variables (telles que surfaces ou interfaces), d'optimisation, ...) selon le cadre d'études (définitions, environnements, référentiels, repères, métriques, variables, ensembles, principes, postulats, ...). </li>
            <br /><li> <strong>Types d'analyses de base</strong> sur des objets expérimentaux ou théoriques (environnements, cadres, systèmes ou variables d'études et modèles, lois, entités physiques, ...) par : mesures (avec étalonnages), évaluations (empiriques), causalités discrètes (états successifs), considérations d'espèces aléatoires, modélisation aux éléments finis, analogies, extrapolation, ... </li>
            <br /><li> <strong>Types d'analyses évoluées</strong> sur des objets expérimentaux ou théoriques (environnements, cadres, systèmes ou variables d'études et modèles, lois, entités physiques, ...) par : symbolisation, généralisation, englobement, conversions discret - continu, complexification, simplification, optimisation, récursivité, apprentissage de méthodes, théories, observations, mesures, ... </li>
          </ul>
        </article>

        <article id="editions">
          <ul><strong>Editions</strong> (accès aux fonctionnalités) : <br />
            <br /><li> <strong>Visiteurs</strong> : consultation des éléments actuels.</li>
            <li> <strong>Utilisateurs</strong> (users) : gestion de compte, consultation des éléments actuels, éléments modifiés et ajoutés.</li>
            <li> <strong>Auteurs</strong> (authors) : gestion de compte, ajoût de domaine, consultation et modification des éléments actuels, ou consultation des éléments modifiés et ajoutés.</li>
            <li> <strong>Administrateurs</strong> (administrators) : gestion des utilisateurs, ajout de domaine et thèmes, consultation, modification et ajoût des éléments.</li>
          </ul>
        </article>

        <article id="domaines">
          <ul><strong>Domaines disponibles</strong> : <br /><br />
            {% for domainx in domain %}
              <li> <strong> {{ domainx.title }} </strong> </li>
            {% endfor %}
		  </ul>
        </article>

        <article id="niveaux">
          <strong>Schéma général</strong> à <strong>simples niveaux</strong> : seuls éléments de <strong>1</strong> à <strong>6</strong> (Cf. schéma ci-dessus.). 
          <br /><br /> <strong>Schéma général</strong> à <strong>doubles niveaux</strong> de <strong>1</strong> à <strong>6</strong> (Cf. schéma ci-dessous.) :<br /><br />
          <img src="{{ asset('bundles/sitephysphysmvc/images/schemaphysmvcglobal.png') }}" id="containerimghome" alt="Image de niveaux globaux" title="Schéma global" /><br />
          <ul><strong>Niveaux</strong> des éléments pour chaque thème : <br />
            <br /><li> <strong>Niveau de base</strong> (<strong>global, nb de 1 à 6</strong>, cf. schéma ci-dessus pour les éléments globaux). </li><br />
            <li> <strong>Niveau de précision</strong> (<strong>np de 1 à 6</strong> : niveau d'élément dans un élément global, cf. schéma ci-dessus pour les éléments simples de chacun des éléments globaux). </li><br /> 
            <li> <strong>Niveau de précision np = 0</strong> : niveau global de l'élément d'un niveau de base nb. </li><br /> 
            <li> <strong>Description formelle des niveaux de précision np</strong> (1 : "exp. in" et Action = "Observation", 2 : "th." et Action = "Formalisation" ou bien 3 : "exp. out" et Action = "Analyse, application") de la chaîne d'entrée : <br />
            Action (niveau de précision « np ») dans le cadre utilisé de la chaîne d'entrée du niveau de base  « nb » des sorties établies au niveau nb – (np - 1) ou bien si np = 1, (nb - 1) – 3 (si nb > 1, sinon "Entrées générales") et nb – 6. Cette action produit des sorties, entrées du niveau nb – (np + 1) (et (nb + 1) – 1 si np = 3). </li><br />
            <li> <strong>Description formelle des niveaux de précision np</strong> (4 : "exp. in" et Action = "Observation", 5 : "th." et Action = "Formalisation" ou bien 6 : "exp. out" et Action = "Analyse, application") de la chaîne de retour : <br />
            Action explicite ou implicite (niveau de précision « np ») dans le cadre utilisé de la chaîne de retour du niveau de base  « nb » des sorties établies au niveau nb – (np - 1). Ses fonctions (méthodes) d'études par rapport au niveau nb – (np - 3)  et ses valeurs (attributs) d'études par rapport au niveau nb – (7 - np) (comparaisons par les évaluations entre les niveaux d'avancée équivalente) peuvent être inchangés, redéfinis, précisés, modifiés, simplifiés, complexifiés, extrapolés... Cette action produit des sorties, entrées du niveau nb – (np + 1) ou nb – 1 si np = 6. </li>
          </ul>
        </article>

        <article id="modes">
           <ul><strong>Etendue d'évolution</strong> d'éléments à <strong>simples niveaux</strong>, pour le thème défini, étudié suivant une évolution elle-même causale discrète (par niveau : 1, 2, ..., 6). On note <strong>mode = dim + 2</strong>. <strong>Evolution pour mode = ...</strong> <br />
            <li> <strong>7</strong> : champ, espace (états et gradients, implicites ou explicites) de résolutions.</li>
            <li> <strong>6</strong> : points (états).</li>
            <li> <strong>5</strong> : champ, espace (états et gradients, implicites ou explicites) de  questionnements.</li>
          </ul><br />
          <ul><strong>Etendue d'évolution</strong> d'éléments à doubles niveaux, d'une dimension <strong>dim</strong> positive pour le thème défini, étudié suivant une évolution elle-même causale discrète (par niveau : 1 - 1, 1 - 2, ..., 6 - 5, 6 - 6), de résolutions, sans question, dans l'environnement et cadre d'études, comprenant également les éléments identifiés du système. On note <strong>dim = mode - 2</strong>. <strong>Pour dim = ...</strong><br />
            <li> <strong>2 ou plus</strong> : champ, espace (états et gradients de multiplicité de 2 jusqu'à dim, implicites ou explicites) de résolutions.</li>
            <li> <strong>1</strong> : points (états) et leur direction locale (orientation implicite ou explicite).</li>
          </ul>
          <ul><strong>Présentation d'éléments établis (dim = 0) du thème</strong> (système pour la forme ou pour le fond) étudié suivant une évolution causale discrète (par niveau : 1 - 1, 1 - 2, ..., 6 - 5, 6 - 6) de positions acquises ou prédites dans l'environnement d'étude comprenant lui-même les éléments identifiés du système : <br />
            <li> <strong>0</strong> : points (états).</li>
          </ul>
          <ul><strong>Etendue de recherche d'éléments de dimension dim négative pour le thème défini</strong>, étudié suivant une évolution elle-même causale discrète (par niveau : 1 - 1, 1 - 2, ..., 6 - 5, 6 - 6) comprenant au moins une question et avec d'éventuelles résolutions, dans l'environnement et cadre d'études, comprenant également les éléments identifiés du système. On note <strong>dim = mode - 2</strong>. <strong>Pour dim = ...</strong> <br />
            <li> <strong>-1</strong> : points (états) et leur direction locale (orientation implicite ou explicite).</li>
            <li> <strong>-2 ou moins</strong> : champ, espace (états et gradients de multiplicité de 2 jusqu'à -dim, implicites ou explicites) de questionnements (au moins un) et d'éventuelles résolutions.</li>
          </ul>
        </article>

        <article id="symbolisation">
			    <strong>Symbolisations (fonctionnalités, actions correspondantes aux niveaux des éléments pour leurs objets) de l'expérimentation</strong> : moyens, protocoles de sélection, de mise en oeuvre, d'utilisation, de précision, de tests, ... et <strong>de la théorie</strong> : outils de recueil, utilisation et analyse des références théoriques existantes, outils de formulations et de conformités de théories potentielles, apprentissages informatiques, ...) disponibles suivant l'ensemble des thèmes : 

          {% for levp in 1..6 %}
            <br /><br /><strong>Niveau {{ levp }}</strong> : 
            <br /> {{ level[levp].content }} 
            {% set cptsym = 0 %}
            {% for symcontentx in symcontent[levp] %}
              {% set cptsym = cptsym + 1 %}
              <br /><strong>Symbolisation {{ cptsym }}</strong> : {{ symcontentx }} 
            {% endfor %}
          {% endfor %}
        </article>

        <article id="references">
          <strong>Références</strong> : quelques formules, lois, ou phénomènes du domaine considéré. <br />
          Symboles utilisés : <br />
          "_xy" ou "_(x,y)" : indices x, y ; "^z" : exposant ou puissance z ; <br />
          "x <sup>→</sup>" : vecteur x ; <br />
          "A^†" : conjugué de A ; <br />
          "∑_k" : somme sur k ; "∑_(i,j)" : somme double sur i, j ; <br />
          "∫(de λ1 à λ2)", ou "∫_λ1,λ2", ou "∫_(λ1,λ2)" : intégrale de λ1 à λ2 ; <br />
          "S = ∫L.d^4x" : action S, intégration du Lagrangien suivant x (ayant 4 dimensions) ; <br />
          Notations de Dirac pour la fonction d'onde ψ, ket : |ψ>, bra : <ψ|, produit scalaire : <ψ1|ψ2>. 
        </article>

      </div>
    </div>

{% endblock %}
