{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Eléments des niveaux simples du thème physique
{% endblock %}

{% block sitephysphysmvc_section %}
  <div id="hw">Eléments des niveaux simples du thème {{ topic.title }} </div>
{% endblock %}

{% block sitephysphysmvc_image %}
  <div id="containerimghome">
    <div class="containerthome">
      <img src="{{ asset('bundles/sitephysphysmvc/images/schemaphysmvcelement.jpg') }}" class="homephoto" alt="Image de niveaux basiques" title="Schéma Elément simple avec les niveaux simples" />
    </div>  
  </div>
{% endblock %}

{% block sitephysphysmvc_body %}
    <div class="well">
      <div id="hb"><strong>Descriptions</strong> de :  
        {% for levt in indkey %}
          <span> {{ physelt[levt].title }} - </span> 
        {% endfor %}
      </div>
      <br />
      <nav id="tabs-nav" class="clearfix">
        <a href="#domaine">Domaine et thème</a><span>&nbsp;</span>
        <a href="#niveau">Niveau</a><span>&nbsp;</span>
        <a href="#contenu">Contenu</a><span>&nbsp;</span>
        <a href="#evaluation">Evaluation</a><span>&nbsp;</span>
        <a href="#symbolisation">Symbolisation</a><span>&nbsp;</span>
        <a href="#reference">Références</a>
        <a href="#author">Création</a>
      </nav>
      <div id="tabs-container" onload="initTab()">
        <article id="domaine">
          <strong>Domaine : {{ domain.title }} </strong>
          <br /><strong>Thème : {{ topic.content }} </strong>
          {% set dimtopic = topic.mode - 6 %}
          <br /><strong>Evolution (logique ou chronologique)</strong> dans le thème par 
          {% if dimtopic == -1 %} <strong>questionnements</strong>. {% endif %}
          {% if dimtopic == 0 %} <strong>connaissances établies</strong>. {% endif %}
          {% if dimtopic == 1 %} <strong>résolutions</strong>. {% endif %} 
          <br /><strong>Mode</strong> du thème : <strong> {{ topic.mode }} </strong>
        </article>
        <article id="niveau">
          <strong>Niveaux des éléments enregistrés du thème</strong> : 
          {% for levx in indkey %}
            <br /><br /><strong>Niveau {{ levx }}</strong> : 
            <br /><strong>Niveau de base <i>(global)</i></strong> : {{ level[levx].levelBase }} 
            <br /><strong>Niveau de précision <i>(élément)</i></strong> : 0 
            <br /><strong>Description du niveau</strong> : {{ level[levx].content }} 
          {% endfor %}
        </article>
        <article id="contenu">
        <strong>Contenus pour chaque niveau simple des éléments enregistrés</strong> : 
          {% for levy in indkey %}  
            <br /><br /><strong>Niveau {{ levy }}</strong> : 
            <br /><strong>Titre</strong> : <strong>{{ physelt[levy].title }} </strong>
            <br /><strong>Contenu</strong> : {{ physelt[levy].content }} 
          {% endfor %}
        </article>
        <article id="evaluation">
          <strong>Evaluations pour chaque niveau simple des éléments enregistrés</strong> : 
          {% for levz in indkey %}
            <br /><br /><strong>Niveau {{ levz }}</strong> : 
            <br /><strong>Evaluation</strong> : {{ physelt[levz].evaluation }} 
          {% endfor %}
        </article>
        <article id="symbolisation">
          <strong>Symbolisations pour chaque niveau simple des éléments enregistrés</strong> : 
          {% for levw in indkey %}
            <br /><br /><strong>Niveau {{ levw }}</strong> :
            {% set cptsym = 0 %}
            {% for symcontentx in symcontent[levw] %}
              {% set cptsym = cptsym + 1 %}
              <br /><strong>Symbolisation {{ cptsym }}</strong> : {{ symcontentx }} 
            {% endfor %}
          {% endfor %}
        </article>
        <article id="reference">
          <strong>Références du domaine du thème</strong> : 
          {% for titlecontrefx in titlecontref %}
            <br /><br /><strong>Référence : {{ titlecontrefx.rtitle }}</strong>
            <br />{{ titlecontrefx.rcontent }} 
          {% endfor %}
          <br /><br /><strong>Liens du thème par niveau</strong> : 
          {% for levv in indkey %}
            <br /><br /><strong>Niveau {{ levv }}</strong> : 
            <br /><strong>Lien</strong> : <a href ="{{ physelt[levv].webLinks }}">{{ physelt[levv].webLinks }}</a>
          {% endfor %}
        </article>
        <article id="author"> 
          <strong>Auteurs pour chaque niveau simple des éléments enregistrés</strong> : 
          {% for levu in indkey %}
            <br /><br /><strong>Niveau {{ levu }}</strong> : 
            <br /><strong>Auteur</strong> : {{ physelt[levu].author }} 
            <br /><strong>Date</strong> : {{ physelt[levu].date|date('d/m/Y H:i:s') }} 
          {% endfor %}
        </article>
      </div>
  </div>
{% endblock %}
