{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Niveaux et symbolisations des éléments de physique 
{% endblock %}

{% block sitephysphysmvc_section %}
  <h2 style = "color:#FFF; text-align:center; margin:10px;">Niveaux et symbolisations des éléments de physique</h2>
{% endblock %}

{% block sitephysphysmvc_image %}
  <div class="containertedit">
    <img src="{{ asset('bundles/sitephysphysmvc/images/schemaphysmvcmodif.png') }}" class="addphoto" alt="Image de Symbolisation" />
  </div>
{% endblock %}

{% block sitephysphysmvc_body %}
  <div class="well">

    <h2>Description de niveaux et symbolisations par niveau de base</h2><br />
      <nav id="tabs-nav" class="clearfix">
        {% for intBase in 1..6 %}
          <a href="{{ "#symbol" ~ intBase }}"> {{ datalevel[intBase - 1] }} </a><span>&nbsp;</span>
        {% endfor %}
        <a href="{{ "#reference" }}"> Référence </a>
      </nav>

      <div id="tabs-container" onload="initTab()">
        {% for intBase in 1..6 %}
          <article id="{{ "symbol" ~ intBase }}" >
            {% for intSub in 0..6 %}
              {% if bslevel[intBase][intSub] is defined %}
                Niveau {{ intBase }} - {{ intSub }} : {{ bslevel[intBase][intSub] }}
              {% endif %}
              {% if bssymb[intBase][intSub] is defined %}
                <br />Symbolisation : {{ bssymb[intBase][intSub] }}<br />
              {% endif %}
            {% endfor %}
          </article>
        {% endfor %}
        <article id="reference">
          {% for titlerefdomx in titlerefdom %}
            <br />Domaine : {{ titlerefdomx.dtitle }} 
            Référence : {{ titlerefdomx.rtitle }} 
            <br />{{ titlerefdomx.rcontent }} <br />
          {% endfor %}
        </article>
      </div>
      
  </div>
{% endblock %}