{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Niveaux et symbolisations des éléments de physique 
{% endblock %}

{% block sitephysphysmvc_section %}
  <h3 style = "color:#FFF; text-align:center; margin:10px;">Niveaux et symbolisations des éléments de physique</h3>
{% endblock %}

{% block sitephysphysmvc_image %}
  <div class="containertedit">
    <img src="{{ asset('bundles/sitephysphysmvc/images/schemaphysmvcelement.jpg') }}" class="addphoto" alt="Image de Symbolisations par niveaux de base" title="Schéma des niveaux de base" />
  </div>
{% endblock %}

{% block sitephysphysmvc_body %}
  <div class="well">

    <h3>Description de niveaux et symbolisations par niveau de base</h3><br />
      <nav id="tabs-nav" class="clearfix">
        {% for intBase in 1..6 %}
          <a href="{{ "#symbol" ~ intBase }}"> {{ datalevel[intBase - 1] }} </a><span>&nbsp;</span>
        {% endfor %}
        <a href="{{ "#reference" }}"> Références </a>
      </nav>

      <div id="tabs-container" onload="initTab()">
        {% for intBase in 1..6 %}
          <article id="{{ "symbol" ~ intBase }}" >
            {% for intSub in 0..6 %}
              {% if bslevel[intBase][intSub] is defined %}
                Niveau {{ intBase }} - {{ intSub }} : {{ bslevel[intBase][intSub] }}
              {% endif %}
              {% if bssymb[intBase][intSub] is defined %}
                <br />Symbolisation : {{ bssymb[intBase][intSub] }} <br /><br />
              {% endif %}
            {% endfor %}
          </article>
        {% endfor %}
        <article id="reference">
          {% for titlerefdomx in titlerefdom %}
            Domaine : {{ titlerefdomx.dtitle }}. Référence : {{ titlerefdomx.rtitle }} <br />
            Contenu : {{ titlerefdomx.rcontent }} <br /><br />
          {% endfor %}
        </article>
      </div>

  </div>
{% endblock %}
