{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Niveaux et symbolisations des éléments de physique 
{% endblock %}

{% block sitephysphysmvc_image %}
  <section id="global">
    <img align="center" margin: "0" padding: "0" src="{{ asset('bundles/sitephysphysmvc/images/schemaphysmvcelement.png') }}" alt="Schéma de élément du modèle global" width="40%" height="200px" />
  </section>
{% endblock %}

{% block sitephysphysmvc_body %}
  <div class="well">
    <section id="descriptions">
      <h2><i class="fa fa-gift"></i>Description de niveaux et symbolisations par niveau de base</h2>
      <nav id="tabs-nav" class="clearfix">
        <a href="{{ "#symbol" ~ "1" }}"> {{ datalevel[0] }} </a>
        {% for intBase in 2..6 %}
          <a href="{{ "#symbol" ~ intBase }}"> {{ datalevel[intBase - 1] }} </a>
        {% endfor %}
      </nav>
      <div id="tabs-container" onload="initTab()">
        {% for intBase in 1..3 %}
          <article id="{{ "symbol" ~ intBase }}" >
            {% for intSub in 1..3 %}
              Niveau {{ intBase }} - {{ intSub }} : {{ bslevel[intBase][intSub] }}
              <br />Symbolisation : {{ bssymb[intBase][intSub] }}<br />
            {% endfor %}
          </article>
        {% endfor %}
      </div>
    </section>
  </div>
{% endblock %}

{% block sitephysphysmvc_low %}
  <p>
    <a href="{{ path('sitephys_physmvc_home') }}" class="button">
      Retour à l'accueil
    </a>
    <a href="{{ path('sitephys_physmvc_topic') }}" class="button">
      Thèmes et domaines
    </a>
  </p>
{% endblock %}