{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Thèmes et références de leur domaine 
{% endblock %}

{% block sitephysphysmvc_section %}
  <h2 style = "color:#FFF; text-align:center; margin:10px;"><i>Thèmes et références de leur domaine</i></h2>
{% endblock %}

{% block sitephysphysmvc_image %}
  <div class="containertedit">
    <img src="{{ asset('bundles/sitephysphysmvc/images/physics-schema.jpg') }}" class="addphoto" alt="Image de thèmes" />
  </div>
{% endblock %}

{% block sitephysphysmvc_body %}
  <div class="well">
    <h3>Descriptions, liens et références par domaine</h3><br />

    <nav id="tabs-nav" class="clearfix">
      {% for tti in iddomobject %}
        <a href="{{"#" ~ "domaintopic" ~ tti["id"] }}"> {{ tti["title"] }} </a><span>&nbsp;</span>
      {% endfor %}
      <a href="#reference"> Références </a>
    </nav>

    <div id="tabs-container" onload="initTab()">
      {% for iddomobjectx in iddomobject %}
        {% set iddomobjectxi = iddomobjectx["id"] %}
        <article id={{ "domaintopic" ~ iddomobjectxi }}>
          {% for iddomobjectxd in listtopic[iddomobjectxi] %}
            {{ iddomobjectxd.content }} <br />
            <a href="{{ path('sitephys_physmvc_phys_hometopic', {'idTopic': iddomobjectxd.id}) }}"> {{ iddomobjectxd.title }} </a><br /><br />
          {% endfor %}
        </article>
      {% endfor %}
      <article id="reference">
        {% for titlecontrefx in titlecontref %}
          Domaine : {{titlecontrefx.dtitle }}. Référence : {{ titlecontrefx.rtitle }} <br />
          Contenu : {{ titlecontrefx.rcontent }} <br /><br />
        {% endfor %}
      </article>
    </div>

  </div>
{% endblock %}