{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Thèmes généraux en physique 
{% endblock %}

{% block sitephysphysmvc_section %}
  <h2 style = "color:#FFF; text-align:center; margin:10px;"><i>Thèmes généraux en physique</i></h2>
{% endblock %}

{% block sitephysphysmvc_image %}
<div class="containerthome">
    <img src="{{ asset('bundles/sitephysphysmvc/images/fond-cosmo.jpg') }}" class="homephoto" alt="Image de élément" />
  </div>
{% endblock %}

{% block sitephysphysmvc_body %}
  <div class="well">
    <section id="descriptions">
      <h2><i class="fa fa-gift"></i> Descriptions</h2>
      <nav id="tabs-nav" class="clearfix">
        <a href= {{"#" ~ "domaintopic" ~ "0" }}> {{ listdomain[0] }} </a>
        {% if cptdom > 1 %}
          {% for ttii in 1..cptdom - 1 %}
            <a href= {{"#" ~ "domaintopic" ~ ttii }}> {{ listdomain[ttii] }} </a>
          {% endfor %}
        {% endif %}
      </nav>
      <div id="tabs-container" onload="initTab()">
        {% for ttii in 0..cptdom - 1 %}
          <article id={{ "domaintopic" ~ ttii }}>
          {{ listdomain[ttii] }} <br />
            {% for ttid in listtopic[ttii + 1] %}
              <a href="{{ path('sitephys_physmvc_phys_hometopic', {'idTopic': ttid.id}) }}">
              {{ ttid.title }} <br />
              </a>
              {{ ttid.content }} <br />
            {% endfor %}
          </article>
        {% endfor %}
      </div>
    </section>
  </div>
{% endblock %}
