{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Thèmes généraux en physique 
{% endblock %}

{% block sitephysphysmvc_body %}

  <div class="well">
    <section id="descriptions">
      <h2><i class="fa fa-gift"></i> Descriptions</h2>
      <nav id="tabs-nav" class="clearfix">
        {% for ttii in 0..cptdom - 1 %}
          <a href= {{"#" ~ "domaintopic" ~ ttii }} class="selected"> {{ listdomain[ttii] }} </a>
        {% endfor %}
      </nav>
      <div id="tabs-container">
        {% for ttii in 0..cptdom - 1 %}
          <article id={{ "domaintopic" ~ ttii }}>
          <h2> {{ listdomain[ttii] }} </h2>
            {% for ttid in listtopic[ttii + 1] %}
              <a href="{{ path('sitephys_physmvc_phys_hometopic', {'idTopic': ttid.id}) }}">
              <h3> {{ ttid.title }} </h3>
              </a>
              <h3> {{ ttid.content }} </h3>
            {% endfor %}
          </article>
        {% endfor %}
      </div>
    </section>
  </div>

  <p>
    <a href="{{ path('sitephys_physmvc_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'accueil
    </a>
    <a href="{{ path('sitephys_physmvc_symbolization') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Niveaux et symbolisations
    </a>
  </p>

{% endblock %}