{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Thèmes généraux en physique 
{% endblock %}

{% block sitephysphysmvc_section %}
  <h2 style = "color:#FFF; text-align:center; margin:10px;"><i>Thèmes généraux en physique</i></h2>
{% endblock %}

{% block sitephysphysmvc_image %}
  <div class="containertedit">
    <img src="{{ asset('bundles/sitephysphysmvc/images/physics-schema.jpg') }}" class="addphoto" alt="Image de thèmes" />
  </div>
{% endblock %}

{% block sitephysphysmvc_body %}
  <div class="well">
    <h2>Descriptions et liens par domaine</h2><br />
    <nav id="tabs-nav" class="clearfix">
      <span> </span><a href="{{"#" ~ "domaintopic" ~ "0" }}"> {{ listdomain[0] }} </a><span> </span>
      {% if cptdom > 1 %}
        <span> </span>
        {% for ttii in 1..cptdom - 1 %}
          <span> </span><a href="{{"#" ~ "domaintopic" ~ ttii }}"> {{ listdomain[ttii] }} </a><span> </span>
        {% endfor %}
      {% endif %}
    </nav>
    <div id="tabs-container" onload="initTab()">
      {% for ttii in 0..cptdom - 1 %}
        <article id={{ "domaintopic" ~ ttii }}>
          {% for ttid in listtopic[ttii + 1] %}
            {{ ttid.content }} <br />
            <a href="{{ path('sitephys_physmvc_phys_hometopic', {'idTopic': ttid.id}) }}"> {{ ttid.title }} </a><br /> 
          {% endfor %}
        </article>
      {% endfor %}
    </div>
  </div>
{% endblock %}
