{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Modifier l'élément {{ physupdatetitle }}
{% endblock %}

{% block sitephysphysmvc_body %}

  <h2>Modifier l'élément {{ physupdatetitle }} du domaine {{ physupdatedomain }} de thème {{ physupdatetopic }} de niveau de base {{ physupdateleveltab[0] }} et de niveau de précision {{ physupdateleveltab[1] }}, soit : {{ physupdatelevelcontent }}.</h2>

{% endblock %}
