{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Lecture de l'élément - {{ phystitle }}
{% endblock %}

{% block sitephysphysmvc_section %}
  <h2 style = "color:#FFF; text-align:center; margin:10px;"><i>Lecture de l'élément - {{ phystitle }}</i></h2>
{% endblock %}

{% block sitephysphysmvc_image %}
<div class="containerthome">
    <img src="{{ asset('bundles/sitephysphysmvc/images/fond-cosmo.jpg') }}" class="homephoto" alt="Image de élément" />
  </div>
{% endblock %}

{% block sitephysphysmvc_body %}
  <h2 style = "color:#FFF; text-align:center; margin:10px;">{{ phystitle }}</h2>
  <h3>Niveau : </h3>
  <h3>Niveau de base : {{ physleveltab[0] }}</h3>
  <h3>Niveau de précision : {{ physleveltab[1] }}</h3>
  <h3>Description du niveau : {{ levelcontent }}</h3>
  <h3>Domaine : {{ domaincontent }}</h3>
  <h3>Thème : {{ topiccontent }}</h3>
  <h3>Mode du thème : {{ topicmode }}</h3>
  {% set cptsym = 0 %}
  {% for symcontent in symbolizationcontent %}
    {% set cptsym = cptsym + 1 %}
    <h3>Symbolisation {{ cptsym }} : {{ symcontent }}</h3>
  {% endfor %}
  <i>Par {{ physauthor }}, le {{ physdate|date('d/m/Y') }}</i>
  <div class="well">
    {{ physcontent }}
  </div>
{% endblock %}
