{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Lecture de l'élément du thème ajouté {{ physadd.title }} par {{ physadd.author }}. 
{% endblock %}

{% block sitephysphysmvc_section %}
  <h2 style = "color:#FFF; text-align:center; margin:10px;">Elément ajouté : {{ physadd.title }} </h2>
{% endblock %}

{% block sitephysphysmvc_image %}
<div class="containerthome">
    <img src="{{ asset('bundles/sitephysphysmvc/images/fond-cosmo.jpg') }}" class="homephoto" alt="Image de élément" />
  </div>
{% endblock %}

{% block sitephysphysmvc_body %}
  <div class="well">
    <section id="descriptions">
      <h2>Descriptions de l'objet ajouté, {{ physadd.title }}</h2><br />
      <nav id="tabs-nav" class="clearfix">
        <a href="#chose">Objet ajouté</a><span>&nbsp;</span>
        <a href="#contenu">Contenu</a><span>&nbsp;</span>
        <a href="#auteur">Création</a>
      </nav>
      <div id="tabs-container" onload="initTab()">
        <article id="chose">
          Objet de type : {{ physadd.thing }}
        </article>
        <article id="contenu">
          Contenu :
          <br /> {{ physadd.content }} <br />
        </article>
        <article id="auteur">
          Auteur : {{ physadd.author }}, 
          <br />Date : {{ physadd.date|date('d/m/Y H:i:s') }}
          <br />Lien Internet : {{ physadd.weblink }}
        </article>
      </div>
      </section>
  </div>
{% endblock %}
