{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Lecture de l'élément du thème ajouté {{ physaddtitle }} par {{ physaddauthor }} le {{ physadddate }}. 
{% endblock %}

{% block sitephysphysmvc_section %}
  <h2 style = "color:#FFF; text-align:center; margin:10px;">Elément ajouté : {{ physaddtitle }} </h2>
{% endblock %}

{% block sitephysphysmvc_image %}
<div class="containerthome">
    <img src="{{ asset('bundles/sitephysphysmvc/images/fond-cosmo.jpg') }}" class="homephoto" alt="Image de élément" />
  </div>
{% endblock %}

{% block sitephysphysmvc_body %}
  <div class="well">
    <section id="descriptions">
      <h2><i class="fa fa-gift"></i> Descriptions</h2>
      <nav id="tabs-nav" class="clearfix">
        <a href="#chose">Objet ajouté</a>
        <a href="#contenu">Contenu</a>
        <a href="#auteur">Création</a>
      </nav>
      <div id="tabs-container" onload="initTab()">
        <article id="chose">
          {{ physaddtitle }}
          <br />Objet : {{ physaddthing }}
        </article>
        <article id="contenu">
          {{ physaddtitle }}
          <br /> {{ physaddcontent }} <br />
        </article>
        <article id="auteur">
          {{ physaddtitle }} 
          <br />Par {{ physaddauthor }}, 
          <br />le {{ physadddate|date('d/m/Y') }}
          <br />Lien Internet : {{ physaddweblink }}.
        </article>
      </div>
      </section>
  </div>
{% endblock %}
