{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Modifier l'élément {{ physupdate.title }}
{% endblock %}

{% block sitephysphysmvc_section %}
  <h2 style = "color:#FFF; text-align:center; margin:10px;">Suggestion de modification de l'élément <strong>{{ physupdate.title }}</strong>.</h2>
{% endblock %}

{% block sitephysphysmvc_image %}
  <div class="containertedit">
    <img src="{{ asset('bundles/sitephysphysmvc/images/schemaphysmvcmodif.png') }}" class="addphoto" alt="Image de Suggestion - Modification" />
  </div>
{% endblock %}

{% block sitephysphysmvc_body %}
  <div class="containerthome">
    <h3 style = "font-style:italic; color:#FA5; text-align:center; margin:6px;">Proposition de modification à la date actuelle, {{ 'now'|date('Y-m-d H:i:s') }}, de l'élément <strong>{{ physupdate.title }}</strong> créé par {{ physupdate.author }} le {{ physupdate.date|date('Y-m-d H:i:s') }} du domaine <strong>{{ physupdatedomain.content }}</strong> et du thème <strong>{{ physupdatetopic.content }}</strong> pour le niveau de base <strong>{{ physupdatelevel.levelBase }}</strong> et le niveau de précision <strong>{{ physupdatelevel.levelSub }}</strong>, soit : <strong>{{ physupdatelevel.content }}</strong>.<br /><strong>Contenu actuel : {{ physupdate.content }}<br />Evaluation actuelle : {{ physupdate.evaluation }}</strong></h3>
  </div>
  <br />
  {{ include("SitephysPhysmvcBundle:Edit:formupdate.html.twig") }}
  <br />
{% endblock %}
