{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Modification d'élément simple
{% endblock %}

{% block sitephysphysmvc_section %}
  <div id="hw">Suggestion de modification de l'élément <strong>{{ physupdate.title }}</strong>. </div>
{% endblock %}

{% block sitephysphysmvc_image %}
  <div id="containerimghome">
    <div class="containerthome">
      <img src="{{ asset('bundles/sitephysphysmvc/images/physmvcmodif.jpg') }}" class="homephoto" alt="Image de Suggestion - Modification" />
	</div>
  </div>
{% endblock %}

{% block sitephysphysmvc_body %}
  <div id="containerimghometopic">
    <div id="hx">
      Proposition de modification à la date actuelle, {{ 'now'|date('Y-m-d H:i:s') }}, de l'élément <strong>{{ physupdate.title }}</strong> créé par {{ physupdate.author }} le {{ physupdate.date|date('Y-m-d H:i:s') }} du domaine <strong>{{ physupdatedomain.content }}</strong> et du thème <strong>{{ physupdatetopic.content }}</strong> pour le niveau de base <strong>{{ physupdatelevel.levelBase }}</strong> et le niveau de précision <strong>{{ physupdatelevel.levelSub }}</strong>, soit : <strong>{{ physupdatelevel.content }}</strong>.<br /><strong>Contenu actuel : {{ physupdate.content }}<br />Evaluation actuelle : {{ physupdate.evaluation }}</strong>
    </div>
  </div>
  <br />
  {{ include("SitephysPhysmvcBundle:Edit:formupdate.html.twig") }}
  <br />
{% endblock %}
