{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Modifications de l'élément {{ phys.title }}. 
{% endblock %}

{% block sitephysphysmvc_section %}
  <h2 style = "color:#FFF; text-align:center; margin:10px;">Modifications de l'élément {{ phys.title }} </h2>
{% endblock %}

{% block sitephysphysmvc_image %}
  <div class="containerthome">
    <img src="{{ asset('bundles/sitephysphysmvc/images/fond-cosmo.jpg') }}" class="homephoto" alt="Image de élément" />
  </div>
{% endblock %}

{% block sitephysphysmvc_body %}
  <div class="well">
      <h3>Descriptions de modification de {{ phys.title }}</h3><br />

      <nav id="tabs-nav" class="clearfix">
        <a href="#domaine">Domaine et thème</a><span>&nbsp;</span>
        <a href="#niveau">Niveau</a><span>&nbsp;</span>
        <a href="#contenus">Contenu</a><span>&nbsp;</span>
        <a href="#evaluation">Evaluation</a><span>&nbsp;</span>
        <a href="#symbolisation">Symbolisation</a><span>&nbsp;</span>
        <a href="#auteurs">Création</a><span>&nbsp;</span>
      </nav>

      <div id="tabs-container" onload="initTab()">
        <article id="domaine">
          Domaine : {{ domain.content }} 
          <br />Thème : {{ topic.content }}
          <br />Mode du thème : {{ topic.mode }} 
        </article>

        <article id="niveau">  
          Niveau de base <i>(global)</i> : {{ physlevel.levelBase }} 
          <br />Niveau de précision <i>(élément)</i> : {{ physlevel.levelSub }} 
          <br />Description du niveau : {{ physlevel.content }} <br />
        </article>

        <article id="contenus">
          Contenu (actuel) :
          <br /> {{ phys.content }} <br />
          Contenus (proposés à la modification) : 
          {% for physupdx in physupd %}
            <br /><br />Modification proposée : {{ physupdx.title }}
            <br />Contenu : {{ physupdx.content }}
          {% endfor %}
        </article>

        <article id="evaluation">
          Evaluation (actuelle) : {{ phys.evaluation }} 
          {% for physupdz in physupd %}
            <br /><br />Modification proposée : {{ physupdz.evaluation }}
          {% endfor %}
        </article>

        <article id="symbolisation">
          Symbolisations (actuelles) disponibles : <br />
          {% set cptsym = 0 %}
          {% for symbolx in symbol %}
            {% set cptsym = cptsym + 1 %}
            <br />Symbolisation {{ cptsym }} : {{ symbolx }}
          {% endfor %}
        </article>

        <article id="auteurs">
          Par (actuel) {{ phys.author }}, le {{ phys.date|date('Y-m-d H:i:s') }}. 
          {% for physupdy in physupd %}
            <br /><br />Modification proposée : {{ physupdy.title }}
            <br />Par {{ physupdy.username }}, le {{ physupdy.date|date('Y-m-d H:i:s') }}. 
          {% endfor %}
        </article>
      </div>

  </div>
{% endblock %}