{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Lecture de domaine ajouté 
{% endblock %}

{% block sitephysphysmvc_section %}
  <div id="hw">Domaine ajouté : {{ physadd.title }} </div>
{% endblock %}

{% block sitephysphysmvc_image %}
  <div id="containerimghome">
    <div class="containerthome">
      <img src="{{ asset('bundles/sitephysphysmvc/images/mars.jpg') }}" class="homephoto" alt="Image du domaine ajouté" />
	  </div>
  </div>
{% endblock %}

{% block sitephysphysmvc_body %}
  <div class="well">
      <div id="hb">Descriptions du domaine ajouté, {{ physadd.title }} </div><br />

      <nav id="tabs-nav" class="clearfix">
        <a href="#contenu">Contenu</a><span>&nbsp;</span>
        <a href="#auteur">Création</a><span>&nbsp;</span>
      </nav>

      <div id="tabs-container" onload="initTab()">
        <article id="contenu">
          Contenu :
          <br /> {{ physadd.content }} <br />
        </article>
        <article id="auteur">
          Auteur : {{ physadd.username }}, 
          <br />Date : {{ physadd.date|date('d/m/Y H:i:s') }}
          <br />Lien Internet : {{ physadd.weblink }}
        </article>
      </div>

  </div>
{% endblock %}
