<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}
         Eléments de physique en méthodes et langages objet 
      {% endblock %}
    </title>
    {% block stylesheets %}
      {% stylesheets filter='cssrewrite' 'bundles/sitephysphysmvc/css/reset.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
      {% endstylesheets %}  
      {% stylesheets filter='cssrewrite' 'bundles/sitephysphysmvc/css/style.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
      {% endstylesheets %}
      {% stylesheets filter='cssrewrite' 'bundles/sitephysphysmvc/css/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
      {% endstylesheets %}
      {% stylesheets filter='cssrewrite' 'bundles/sitephysphysmvc/css/bootstrap.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
      {% endstylesheets %}
    {% endblock %}
  </head>

  <body>
  {% block menu %}
    <div id="menu_nav">
      <ul class="menu cf">
        <li><a href="{{ path('sitephys_physmvc_home') }}">Accueil</a></li>
        <li><a href="{{ path('sitephys_physmvc_topic') }}">Thèmes</a></li>
        <li><a href="{{ path('sitephys_physmvc_symbolization') }}">Niveaux</a></li>
        <li><a href="{{ path('sitephys_physmvc_edition') }}">Edition</a></li>
        <li><a href="{{ asset('/login') }}"> {{ userconnect }} </a></li>
        <li><a href="{{ asset('/logout') }}">Déconnexion</a></li>
        <li><a href="{{ path('sitephys_user_account') }}">Compte</a></li>
        <li><a href="http://enseignant_postbac.nexgate.ch/index.html">Liens</a></li>
      </ul>
    </div>
  {% endblock %}
    <br />
    <h2 style = "color:#FA7; text-align:center; font-style:italic;">Méthodes et langage objet pour la physique</h2>

    <br />

    {% block sitephysphysmvc_section %}
    {% endblock %}
    
    <br />

    {% block sitephysphysmvc_image %}
    {% endblock %}

    <p></p><br />
 
    {% block sitephysphysmvc_body %}
    {% endblock %}

    <br />

    {% block javascripts %}
      {% javascripts 'bundles/sitephysphysmvc/js/jquery-3.1.1.min.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
      {% endjavascripts %}
      {% javascripts 'bundles/sitephysphysmvc/js/main.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
      {% endjavascripts %}
      {% javascripts 'bundles/sitephysphysmvc/js/bootstrap.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
      {% endjavascripts %}
    {% endblock %}

  </body>
  
</html>