<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}
         Eléments de physique en méthodes et langages objet 
      {% endblock %}
    </title>

    {% block stylesheets %}
      {% stylesheets filter='cssrewrite' 'bundles/sitephysphysmvc/css/reset.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
      {% endstylesheets %}  
      {% stylesheets filter='cssrewrite' 'bundles/sitephysphysmvc/css/style.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
      {% endstylesheets %}
      {% stylesheets filter='cssrewrite' 'bundles/sitephysphysmvc/css/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
      {% endstylesheets %}
      {% stylesheets filter='cssrewrite' 'bundles/sitephysphysmvc/css/bootstrap.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
      {% endstylesheets %}
    {% endblock %}
  </head>

  <body>
    <div>
      <ul id="menu_nav">
        <li><a class="button" href="{{ path('sitephys_physmvc_home') }}">Accueil</a></li>
        <li><a class="button" href="{{ path('sitephys_physmvc_topic') }}">Thèmes et domaines</a></li>
        <li><a class="button" href="{{ path('sitephys_physmvc_symbolization') }}">Niveaux et symbolisations</a></li>
        <li><a class="button" href="{{ path('sitephys_physmvc_edition') }}">Suggestions</a></li>
        <li><a class="button" href="http://enseignant_postbac.nexgate.ch/index.html">Autre site</a></li>
        <li><a class="button" href="http://enseignant_postbac.nexgate.ch/index.html">Liens</a></li>
      </ul>
    </div>
    <div id="header">
      {% block sitephysphysmvc_section %}
        <h3 style = "color:#336861; text-align:center;"><i>Méthodes et langage objet pour la physique</i></h3>
      {% endblock %}
    </div>
    <br />

      {% block sitephysphysmvc_image %}
      {% endblock %}
    
    <p></p>

    <div id="container">  
      {% block sitephysphysmvc_body %}
      {% endblock %}
    </div>

    <p></p>
    
    <div id="containert">
      {% block sitephysphysmvc_low %}
      {% endblock %}
    </div>
    <p></p>

    <footer>
      <p style = "text-align:center;"> Objets physiques © {{ 'now'|date('d/m/Y') }} </p>
    </footer>

    {% block javascripts %}
      {% javascripts 'bundles/sitephysphysmvc/js/jquery-3.1.1.min.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
      {% endjavascripts %}
      {% javascripts 'bundles/sitephysphysmvc/js/main.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
      {% endjavascripts %}
      {% javascripts 'bundles/sitephysphysmvc/js/bootstrap.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
      {% endjavascripts %}
    {% endblock %}

  </body>

</html>