{% extends "SitephysUserBundle::layoutuser.html.twig" %}

{% block title %}
  Connexion au compte
{% endblock %}

{% block menu %}
  {{ parent() }}
{% endblock %}

{% block sitephysphysmvc_image %}
  <div id="containerimghome">
    <div class="containerthome">
      <img src="{{ asset('bundles/sitephysuser/images/tabcontrol.jpg') }}" class="homephoto" alt="Image de Accueil" />
    </div>
  </div>
{% endblock %}

{% block sitephysuser_body %}

  {% if error %}
    <div class="alert alert-danger"> {{ error.message }} </div>
  {% endif %}
  <br /><br />

  <div class="well">
    <h3 style="text-align:center; color:#000">Connexion à votre compte : </h3>
    <form action="{{ path('login_check') }}" method="POST">
      <span style="text-align:center; color:#000"><label for="username"> Pseudo : </label></span><br />
      <span style="text-align:center; color:#000"><input type="text" id="username" name="_username" value="{{ last_username }}" /></span><br /><br />
      <span style="text-align:center; color:#000"><label for="password"> Mot de passe : </label></span><br />
      <span style="text-align:center; color:#000"><input type="password" id="password" name="_password" /></span><br /><br />
      <span style="text-align:center; color:#000"><input type="submit" value="Connexion" /></span><br />
    </form>
    <br />
    <div style="text-align:center; color:#000;">
      <br />
      Ou : <br />
      <a href="{{ path('sitephys_user_add', {'roleuser': 'user'}) }}">Création d'un nouveau compte utilisateur</a><br />
      <a href="{{ path('sitephys_user_add', {'roleuser': 'author'}) }}">Création d'un nouveau compte auteur</a><br />
    </div>
    
  </div>
{% endblock %}
