{% extends "SitephysUserBundle::layoutuser.html.twig" %}

{% block title %}
  Déconnexion et retour à l'accueil
{% endblock %}

{% block menu %}
  {{ parent() }}
{% endblock %}

{% block sitephysuser_image %}
  <div class="containerthome">
    <img src="{{ asset('bundles/sitephysuser/images/fond-cosmo.jpg') }}" class="homephoto" alt="Image de l'accueil du compte" />
  </div>
{% endblock %}

{% block sitephysuser_body %}

  <div class="well">
    <br /><br />
    <a href="{{ asset('../logout') }}">Déconnexion</a>
    <br /><br />
    <div id="hw">Le compte {{ roledeletedaccount }} de {{ usernamedeletedaccount }} a bien été supprimé.
    </div>
    <br /><br />
    <div>
      <div class="button-eval">
        <a href="{{ path('sitephys_physmvc_home') }}">Retour à l'accueil</a>
      </div>
    </div>
  </div>

{% endblock %}
