{% extends "SitephysUserBundle::layoutuser.html.twig" %}

{% block title %}
  Envoi de courriel de validation
{% endblock %}

{% block menu %}
  {{ parent() }}
{% endblock %}

{% block sitephysuser_section %}
{% endblock %}

{% block sitephysuser_image %}
  <div id="containerimghome">
    <div class="containerthome">
      <img src="{{ asset('bundles/sitephysuser/images/tabcontrol.jpg') }}" class="homephoto" alt="Image de courriel" />
    </div>
  </div>
{% endblock %}

{% block sitephysuser_body %}
  <div id="hw">Envoi de courriel</div>
  <br /><br />
  <div id="hx">Lien de validation de votre compte du courriel {{ uemail }} : <br /><br />
    <a href="{{ path('sitephys_user_email', {'uemail': uemail, 'toklink': toklink}) }}">Validez votre adresse courriel</a>. 
    <br /><br />Un courriel vous y sera alors envoyé avec un lien token valide durant une heure.
  </div>
  <br /><br /><br />
    <div id="eval-th">
    <div class="button-eval">
      <a href="{{ asset('../logout') }}">Retour à l'accueil</a>
    </div>
  </div>
{% endblock %}
