<div class="wellform">

  <div class="form-group">
  
    <h3>Formulaire d'inscription</h3>
    <br />

    {{ form_start(formuseradd, {'attr': {'class': 'form'}}) }}
    {{ form_errors(formuseradd) }}

    <div> 
      {{ form_row(formuseradd.username, {'attr': {'class': 'form-control'}}) }} 
    </div>

    <br />
    <div> 
      {{ form_row(formuseradd.email, {'attr': {'class': 'form-control'}}) }} 
    </div>

    <br />
    <div>
      <span>  {{ form_row(formuseradd.password, {'attr': {'class': 'form-control'}}) }}  </span>
    </div>

    {% if (userroles == "author") %}
      <br />
      <div>
        <span>  {{ form_row(formuseradd.interest, {'attr': {'class': 'form-control'}}) }}  </span>
      </div>
    {% endif %}

    <br /><br />
    {{ form_widget(formuseradd.save, {'attr': {'class': 'btn btn-primary'}}) }}
    {{ form_end(formuseradd) }}
    
    <br />
        
  </div>

</div>
