{% extends "SitephysUserBundle::layoutuser.html.twig" %}

{% block title %}
  Accueil du compte utilisateur
{% endblock %}

{% block sitephysuser_section %}
  <h2 style = "color:#FFF; text-align:center; margin:10px;"><span class="italique">Suggestion d'édition</span></h2>
{% endblock %}

{% block sitephysuser_image %}
  <div class="containerthome">
    <img src="{{ asset('bundles/sitephysphysmvc/images/fond-cosmo.jpg') }}" class="homephoto" alt="Image de Accueil - Edition" />
  </div>
{% endblock %}

{% block sitephysuser_body %}
  <div class="well">
    <h3>Types d'édition</h3>
    <nav id="tabs-nav" class="clearfix">
      <a href="#consult">Détails du compte</a>
      <a href="#creat">Création du compte</a>
      <a href="#suppr">Suppression du compte</a>
      <a href="#logout">Déconnexion</a>
    </nav>
    <div id="tabs-container" onload="initTab()">
      <article id="consult">
        <a href="{{ path('sitephys_user_view', {'iduser': userobject.id}) }}">
        Consultation</a><span style = "color:#000;"> * </span>
      </article>
      <article id="creat">
        <a href="{{ path('sitephys_user_add') }}">
        Création de compte </a><span style = "color:#000;"> - </span>
      </article>
      <article id="suppr">
        <a href="{{ path('sitephys_user_delete', {'iduser': userobject.id}) }}"> Suppression </a><span style = "color:#000;"> - </span>
      </article>
      <article id="logout">
        <a href="{{ asset('../logout') }}"> Déconnexion </a>
      </article>
    </div>
  </div>
{% endblock %}
