{% extends "SitephysUserBundle::layoutuser.html.twig" %}

{% block title %}
  Accueil du compte
{% endblock %}

{% block menu %}
  {{ parent() }}
{% endblock %}

{% block sitephysuser_section %}
  <h2 style = "color:#FFF; text-align:center; margin:10px;"><span class="italique">Compte de {{ userconnect }}</span></h2>
{% endblock %}

{% block sitephysuser_image %}
  <div class="containerthome">
    <img src="{{ asset('bundles/sitephysuser/images/tabcontrol.jpg') }}" class="homephoto" alt="Image de l'accueil du compte" />
  </div>
{% endblock %}

{% block sitephysuser_body %}
  <div class="well">
    <h2>Types d'édition</h2><br />
    <nav id="tabs-nav" class="clearfix">
      <a href="{{ "#details" }}">Détails du compte</a><span>&nbsp;</span>
      <a href="{{ "#suppression" }}">Suppression du compte</a><span>&nbsp;</span>
      <a href="{{ "#creation" }}">Ajout d'un nouveau compte</a><span>&nbsp;</span>
      <a href="{{ "#deconnexion" }}">Déconnexion</a>
    </nav>
    <div id="tabs-container" onload="initTab()">
      <article id="{{ "details" }}">
        Pseudo : {{ userconnect }}
        <br />Courriel : {{ userobject.email }}
        <br />Role : {{ userroles }}
      </article>
      <article id="{{ "suppression" }}">
        <a href="{{ path('sitephys_user_delete', {'iduser': userobject.id}) }}">Suppression</a>
      </article>
      <article id="{{ "creation" }}">
        <a href="{{ path('sitephys_user_add', {'roleuser': 'user'}) }}">Création d'un compte utilisateur</a><br />
        <a href="{{ path('sitephys_user_add', {'roleuser': 'author'}) }}">Création d'un compte auteur</a>
      </article>
      <article id="{{ "deconnexion" }}">
        <a href="{{ asset('../logout') }}">Déconnexion</a>
      </article>
    </div>
  </div>
  
{% endblock %}