{% extends "SitephysUserBundle::layoutuser.html.twig" %}

{% block title %}
  Inscription ou connexion au compte utilisateur
{% endblock %}

{% block menu %}
  {{ parent() }}
{% endblock %}

{% block sitephysuser_section %}
  <div id="hw">Connexion ou création de compte</div>
{% endblock %}

{% block sitephysuser_image %}
  <div id="containerimghome">
    <div class="containerthome">
      <img src="{{ asset('bundles/sitephysuser/images/tabcontrol.jpg') }}" class="homephoto" alt="Image du Login" />
    </div>
  </div>
{% endblock %}

{% block sitephysuser_body %}
  <br />
  <div class="well">
    <div id="hb">Connexion à votre compte : </div><br />
    <form action="{{ path('login_check') }}" method="POST">
      <span style="text-align:center; color:#000"><label for="username"> Pseudo : </label></span><br />
      <span style="text-align:center; color:#000"><input type="text" id="username" name="_username" value="{{ last_username }}" /></span><br /><br />
      <span style="text-align:center; color:#000"><label for="password"> Mot de passe : </label></span><br />
      <span style="text-align:center; color:#000"><input type="password" id="password" name="_password" /></span><br /><br />
      <span style="text-align:center; color:#000"><input type="submit" value="Connexion" /></span><br />
    </form>
    <br />
    <div style="text-align:center; color:#000;">
      <br />
      Ou : <br />
      <a href="{{ path('sitephys_user_add', {'roleuser': 'user'}) }}">Création d'un nouveau compte utilisateur</a><br />
      <a href="{{ path('sitephys_user_add', {'roleuser': 'author'}) }}">Création d'un nouveau compte auteur</a><br />
    </div>
  </div>

{% endblock %}
